{{$g := .}}
<form id="daForm" action='{{url "admin.DoNewNews"}}' method="post" class="form-horizontal">
    <input type="hidden" name="p.Id" value="{{$g.p.Id}}">

    {{if $g.p.Id}}
    {{with $field := field "p.Code" .}}
    <div class="control-group">
        <label class="control-label">编码<span class="required">*</span></label>

        <div class="controls">
            <input type="text" size="100" name="{{$field.Name}}"
                   value="{{emptyOr $field.Flash $g.p.Code}}"
                   class="span6 m-wrap" required="" readonly>
            <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
        </div>
    </div>
    {{end}}
    {{end}}

    {{with $field := field "p.Title" .}}
    <div class="control-group {{$field.ErrorClass}}">
        <label class="control-label">标题<span class="required">*</span></label>

        <div class="controls">
            <input type="text" size="100" name="{{$field.Name}}"
                   value="{{emptyOr $field.Flash $g.p.Title}}"
                   class="span6 m-wrap" required="">
            <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
        </div>
    </div>
    {{end}}

    {{with $field := field "p.Subtitle" .}}
    <div class="control-group {{$field.ErrorClass}}">
        <label class="control-label">子标题<span class="required">*</span></label>

        <div class="controls">
            <input type="text" size="100" name="{{$field.Name}}"
                   value="{{emptyOr $field.Flash $g.p.Subtitle}}"
                   class="span6 m-wrap" required="">
            <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
        </div>
    </div>
    {{end}}

    {{with $field := field "p.Source" .}}
    <div class="control-group {{$field.ErrorClass}}">
        <label class="control-label">来源<span class="required">*</span></label>

        <div class="controls">
            <input type="text" size="100" name="{{$field.Name}}"
                   value="{{emptyOr $field.Flash $g.p.Source}}"
                   class="span6 m-wrap" required="">
            <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
        </div>
    </div>
    {{end}}

    {{with $field := field "p.CategoryId" .}}
    <div class="control-group">
        <label class="control-label">新闻分类<span class="required">*</span></label>

        <div class="controls">
            <input id="category" type="hidden" name="{{$field.Name}}"
                   value="{{emptyOr $field.Flash $g.p.CategoryId}}"
                   required="" class="bigdrop span6">
            <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
        </div>
    </div>
    {{end}}

    {{with $field := field "p.Tags" .}}
    <div class="control-group">
        <label class="control-label">标签</label>

        <div class="controls">
            <input type="text" size="100" name="{{$field.Name}}"
                   value="{{emptyOr $field.Flash $g.p.Tags}}" class="span6 m-wrap">
            <a class="btn-tag btn green">最新</a>
            <a class="btn-tag btn green">热门</a>
            <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
        </div>
    </div>
    {{end}}


    <div class="form-actions">
        <button type="submit" class="btn blue">保存新闻</button>
    </div>
</form>