<div class="container-fluid">
    <div class="row-fluid">
        <div id="specs"></div>
        <script id="specs_tpl" type='text/ractive'>
               <table class="table table-bordered">
               <tr><td>名称</td><td>值</td><td>#</td></tr>
               <tbody>
                    [[#specs: index]]
                     <tr on-click="click-row" data-id="[[id]]" class="[[# sel == id ]]active[[/ sel]] [[# index%2==0]]odd[[# odd]] [[# index%2==1]]even[[# even]]">
                       <td>[[name]]</td>
                       <td>[[value]]</td>
                       <td><button data-id="[[id]]" on-click="delete:[[index]]">删除</button></td>
                     </tr>
                    [[/specs]]
                    [[# specs.length == 0]]
                    <tr><td colspan="3">当前未设置产品参数!</td></tr>
                    [[/ empty]]
               </tbody>
               </table>


        </script>
    </div>
    <form id="specForm" action='{{url "Admin.DoSaveProductSpec"}}' method="post"
          class="form-horizontal">
        <input type="hidden" value="{{.p.Id}}" name="productId" required="">

        <div class="control-group" style="display: none" id="div_id">
            <label class="control-label">ID</label>

            <div class="controls">
                <input type="text" value="" name="id" readonly>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">名称</label>

            <div class="controls">
                <input type="text" name="name" required=""/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">值</label>

            <div class="controls">
                <input type="text" name="value" required=""/>
            </div>
        </div>
        <button type="submit" class="btn blue">保存</button>
    </form>
</div>
