<form id="priceSplitForm" action='{{url "Admin.DoSaveSplitProductPrice"}}' method="post"
      class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" value="{{.p.Id}}" name="productId" required="">

    <div class="alert alert-info">
        <small>(如： 填入1, 表示按数量1-所有定价， 填入1 20 50 表示按"1-19, 20-49, 50-所有" 3条来定价</small>
    </div>
    <div class="control-group">
        <label class="control-label">起始数量列表，空格分割</label>
        <div class="controls">
            <input type="text" name="start_quantitys" class="span3" value="{{.splits}}"/><button type="submit" class="btn red">
            {{if notEq .splits ""}}重新{{end}}划分定价条目
        </button>
        </div>
    </div>

</form>

<div id="prices"></div>
<script id="prices_tpl" type='text/ractive'>
               <table class="table table-bordered">
               <tr><td>名称</td><td>数量</td><td>价格</td><td>定价类型</td><td>#</td></tr>
               <tbody>
                    [[#prices: index]]
                     <tr on-click="click-row" data-id="[[id]]" class="[[# sel == id ]]active[[/ sel]] [[# index%2==0]]odd[[# odd]] [[# index%2==1]]even[[# even]]">
                       <td>[[name]]起定价</td>
                       <td>[[format(start_quantity,end_quantity)]]</td>
                       <td>
                       [[# price == 0 ]]
                       <font color="red">[[price]]</font>
                       [[/ zero]]
                       [[# price != 0 ]]
                       <font color="blue">[[price]]</font>
                       [[/ zero]]</td>
                       <td>[[type]]</td>
                       <td></td>
                     </tr>
                    [[/prices]]
               </tbody>
               </table>
</script>
<form id="priceForm" action='{{url "Admin.DoSaveProductPrice"}}' method="post"
      class="form-horizontal" enctype="multipart/form-data" style="display: none">
    <input type="hidden" value="{{.p.Id}}" name="productId" required="">

    <div class="control-group" style="display: none" id="div_id">
        <label class="control-label">ID</label>

        <div class="controls">
            <input type="text" value="" name="id" readonly>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label">起始数量</label>

        <div class="controls">
            <input type="text" name="start_quantity" class="span3" readonly/> - <input type="text" name="end_quantity"
                                                                                       class="span3" readonly/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">价格<span class="required">*</span></label>

        <div class="controls">
            <input type="text" name="price" required="" class="span6"/>
        </div>
    </div>

    <button type="submit" class="btn blue">设置价格</button>
</form>

