<h4>定价</h4>


<div id="prices"></div>
<script id="prices_tpl" type='text/ractive'>
               <table class="table">
               <tr><td>ID</td><td>名称</td><td>数量</td><td>价格</td><td>#</td></tr>
               <tbody>
                    [[#prices: index]]
                     <tr on-click="click-row" data-id="[[id]]" class="[[# sel == id ]]active[[/ sel]] [[# index%2==0]]odd[[# odd]] [[# index%2==1]]even[[# even]]">
                       <td>[[id]]</td>
                       <td>[[name]]</td>
                       <td>[[start_quantity]] - [[end_quantity]]</td>
                       <td>[[price]]</td>
                       <td><button data-id="[[id]]" on-click="delete:[[index]]">删除</button></td>
                     </tr>
                    [[/prices]]
               </tbody>
               </table>
</script>


<form id="priceForm" action='{{url "Admin.DoSaveProductPrice"}}' method="post"
      class="form-horizontal" enctype="multipart/form-data">
    <input type="hidden" value="{{.p.Id}}" name="productId" required="">

    <div class="control-group" style="display: none" id="div_id">
        <label class="control-label">ID</label>

        <div class="controls">
            <input type="text" value="" name="id" readonly>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">名称<span class="required">*</span></label>

        <div class="controls">
            <input type="text" name="name" required=""/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">价格<span class="required">*</span></label>

        <div class="controls">
            <input type="text" name="price" required=""/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">开始数量</label>

        <div class="controls">
            <input type="text" name="start_quantity" />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">结束数量</label>

        <div class="controls">
            <input type="text" name="end_quantity" />
        </div>
    </div>
    <button type="submit" class="btn blue">保存</button>
</form>

(注： 开始数量和结束数量都为0, 表示此定价不受购买数量的影响， 为固定价格）

