<div class="tabbable tabbable-custom tabs-left">
    <ul class="nav nav-tabs tabs-left">
        <li class="active"><a href="#tab_3_1" data-toggle="tab">Logo</a></li>
        <li><a href="#tab_3_2" data-toggle="tab">示意图</a></li>
        <li><a href="#tab_3_3" data-toggle="tab">图片库</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_3_1" style="min-height: 124px;">
            <img class="plogo" src='{{url "Product.Image" .p.Id}}.jpg'
                 style="width: 100px; height: 100px">
            <hr>
            <form id="updateLogoForm" action='{{url "Admin.UploadProductLogo"}}' method="post"
                  enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{.p.Id}}"/>
                文件：<input type="file" name="image" class="multi" maxlength="1" accept="png|jpg"/>

                <button type="submit" class="btn blue">上传</button>
                规格: 200*200， 支持jpg,png格式
            </form>
        </div>
        <div class="tab-pane" id="tab_3_2">
            <div id="images"></div>
            <script id="images_tpl" type='text/ractive'>
                图片数: [[images.length]]
                 <br/>
                <div class="container-fluid">
                    <div class="row-fluid">
                    [[#images: index]]
                        <div class="span3">
                            <img src="[[url]]" style="width:100px;height:100px" on-click="click-row" data-id="[[id]]">
                            [[# sel == id]]
                             <button data-id="[[id]]" on-click="delete:[[index]]">删除</button>
                            [[/ seled]]
                         </div>
                    [[/images]]
                    </div>
                </div>

            </script>
            <hr>
            <form class="imageForm" action='{{url "Admin.UploadProductImage"}}' method="post"
                  enctype="multipart/form-data">
                <input type="hidden" value="{{.p.Id}}" name="id">
                <input type="hidden" name="t" value="2">

                文件：
                <input type="file" name="image" class="multi" maxlength="5"
                       accept="png|jpg"/>
                <button type="submit" class="btn blue">上传</button>
                <small>规格: 200*200， 支持jpg,png格式</small>
            </form>
        </div>
        <div class="tab-pane" id="tab_3_3">
            <div id="images_pics"></div>
            <script id="images_pics_tpl" type='text/ractive'>
                图片数: [[images.length]]
                 <br/>
                <div class="container-fluid">
                    <div class="row-fluid">
                    [[#images: index]]
                        <div class="span3">
                            <img src="[[url]]" style="width:100px;height:100px" data-id="[[id]]" on-click="click-row">
                            [[# sel == id]]
                             <button data-id="[[id]]" on-click="delete:[[index]]">删除</button>
                            [[/ seled]]
                         </div>
                    [[/images]]
                    </div>
                </div>


            </script>
            <hr/>
            <form class="imageForm" action='{{url "Admin.UploadProductImage"}}' method="post"
                  class="form-horizontal" enctype="multipart/form-data">
                <input type="hidden" value="{{.p.Id}}" name="id">
                <input type="hidden" name="t" value="3">

                文件： <input type="file" name="image" class="multi" maxlength="5"
                           accept="png|jpg"/>
                <button type="submit" class="btn blue">上传</button>
                <small>规格: 200*200， 支持jpg,png格式</small>
            </form>
        </div>
    </div>
</div>
