{{set . "title" "关于我们"}}
{{template "layouts/kte/header.html" .}}

<div class="content wrap-960">
    <div class="site-crumbs clearfix">
        您所在的位置：>首页>客户服务
    </div>
    <!--左边模块-->
    <div class="left-pro">
        <!--关于我们-->
        <div class="pro-trees-mod pro-mod">
            <h2 class="title">关于我们</h2>
            <ul class="pro-list cf">
                <li><a href="#nolink" target="_blank">招贤纳士 <i></i></a></li>
                <li><a href="#nolink" target="_blank">联系方式 <i></i></a></li>
            </ul>
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">
        <div class="pro-mod2 right-mod">
            <h2 class="title">关于我们</h2>
            <div class="about-mod">
                <p>电子商城电子商务平台,是中国领先的提供在线元器件零售服务的半导体、电子元器件分销商。佳富利电子成立于2004年，是多家国际著名半导体厂商在中国的现货供应商。公司目前致力于为广大产业伙伴提供全方位的半导体产品技术服务，公司专业代理分销SYNCMOS，TOPRO，UTRON，MICREL，INTERSIL，SEMTECH，LINEAR，HYINX，SAMSUNG，TI、ALTERA、PLX、等国际知名半导体产品，产品应用覆盖电力安防、网络通讯、工控仪器、汽车电子、消费类电子等行业，合作伙伴包括国内贸易同行、电子产品制造商、广大科研院所以及众多的跨国企业。</p>
            </div>
        </div>
    </div>
</div>

{{template "layouts/kte/footer.html" .}}
