<ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="搜索..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li class='start {{active "/" .channel}}'>
        <a href='{{url "Admin.Index"}}'>
            <i class="icon-home"></i>
            <span class="title">主面板</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class='{{active "users/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-user"></i>
            <span class="title">用户管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class='{{active "users/users" .channel}}'>
                <a href='{{url "Admin.Users"}}'>用户管理</a>
            </li>
        </ul>
    </li>

    <li class='{{active "products/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-bookmark-empty"></i>
            <span class="title">商品管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class='{{active "products/products" .channel}}'>
                <a href='{{url "Admin.Products"}}'>
                    商品管理</a>
            </li>
            <li class='{{active "products/categories" .channel}}'>
                <a href='{{url "Admin.Categories"}}'>
                    分类管理</a>
            </li>
            <li class='{{active "products/comments" .channel}}'>
                <a href='{{url "Admin.ProductComments"}}'>
                    商品评价</a>
            </li>
        </ul>
    </li>

    <li class='{{active "providers/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-file-text"></i>
            <span class="title">制造商管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class='{{active "providers/providers" .channel}}'>
                <a href='{{url "Admin.Providers"}}'>
                    制造商管理</a>
            </li>
        </ul>
    </li>

    <li class='{{active "prices/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-gift"></i>
            <span class="title">询价管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class='{{active "prices/index" .channel}}'>
                <a href='{{url "Admin.Prices"}}'>询价管理</a>
            </li>
        </ul>
    </li>

    <li class='{{active "orders/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-th"></i>
            <span class="title">订单管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class='{{active "orders/index" .channel}}'>
                <a href='{{url "Admin.Orders"}}'>订单管理</a>
            </li>
        </ul>
    </li>

    {{/*
    <li class='{{active "distribution/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-map-marker"></i>
            <span class="title">配送管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="maps_google.html">
                    Google Maps</a>
            </li>
            <li>
                <a href="maps_vector.html">
                    Vector Maps</a>
            </li>
        </ul>
    </li>
    */}}
    <li class='{{active "news/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-table"></i>
            <span class="title">内容管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class='{{active "news/index" .channel}}'>
                <a href='{{url "Admin.News"}}'>内容管理</a>
            </li>
            <li class='{{active "news/category" .channel}}'>
                <a href='{{url "Admin.NewsCategories"}}'>分类管理</a>
            </li>
            <li class='{{active "news/comments" .channel}}'>
                <a href='{{url "Admin.NewsComments"}}'>内容评论</a>
            </li>
        </ul>
    </li>

    <li class='{{active "system/" .channel}}'>
        <a href="javascript:;">
            <i class="icon-cogs"></i>
            <span class="title">系统管理</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li class='{{active "system/site" .channel}}'>
                <a href='{{url "Admin.Site"}}'>站点设置</a>
            </li>
            <li class='{{active "system/contact" .channel}}'>
                <a href='{{url "Admin.Contact"}}'>联系信息</a>
            </li>
            <li class='{{active "system/system_comment" .channel}}'>
                <a href='{{url "Admin.SiteComment"}}'>评论设置</a>
            </li>
            <li class='{{active "system/slogan" .channel}}'>
                <a href='{{url "Admin.Slogan"}}'>首页标语</a>
            </li>
            <li class='{{active "system/adimages" .channel}}'>
                <a href='{{url "Admin.AdImages"}}'>首页广告</a>
            </li>
            <li class='{{active "system/hotkeywords" .channel}}'>
                <a href='{{url "Admin.HotKeywords"}}'>热门搜索关键词</a>
            </li>
            <li class='{{active "system/self_delivery" .channel}}'>
                <a href='{{url "Admin.SelfDelivery"}}'>上门自提</a>
            </li>
            <li class='{{active "system/payments" .channel}}'>
                <a href='{{url "Admin.Payments"}}'>支付方式</a>
            </li>
        </ul>
    </li>
    <!--
    <li class='last {{active "statistics/" .channel}}'>
        <a href="charts.html">
            <i class="icon-bar-chart"></i>
            <span class="title">统计分析</span>
        </a>
    </li>
    -->
</ul>