{{set . "title" "品牌中心"}}
{{template "layouts/kte/header.html" .}}

<div class="content wrap-960">
    <div class="site-crumbs clearfix">您所在的位置：>首页>品牌索引 </div>
    <div class="right-mod brand-box">
        <h2 class="title">品牌索引</h2>
        <ul class="brand-list cf">
            {{range .providers }}
            <li><a class="img" href='{{url "Provider.View" .Id}}'><img src='{{url "Provider.Image" .Id}}.jpg' /><span class="name">{{.Name}}</span></a></li>
            {{end}}
        </ul>
    </div>
</div>

{{template "layouts/kte/footer.html" .}}
