{{set . "title" .p.Name}}
{{append . "moreScripts" "js/index/index.js"}}
{{template "layouts/kte/header.html" .}}

<div class="content wrap-960">
    <div class="left-pro">
        <!--产品目录-->
        <div class="pro-trees-mod pro-mod">
            {{template "layouts/kte/w-cg.html" .}}
        </div>
        <!--品牌推荐-->
        <div class="brand-mod pro-mod">
            {{template "layouts/kte/w-ps.html" .}}
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">
        <div class="right-mod">
            <h2>{{.p.Name}}</h2>
            <img src='{{url "Provider.Image" .p.Id}}.jpg'>
            <hr/>
            <table class="table table-striped table-hover">
                <tr>
                    <td width="120">简称</td>
                    <td>{{.p.ShortName}}</td>
                </tr>
                <tr>
                    <td> 简介</td>
                    <td>{{.p.Introduce}}</td>
                </tr>
                <tr>
                    <td> 主页</td>
                    <td></td>
                </tr>
            </table>

            主营产品
        </div>
    </div>
</div>

{{template "layouts/kte/footer.html" .}}


