{{set . "title" .p.Name}}
{{append . "moreScripts" "js/provider/view.js"}}
{{template "layouts/kte/header.html" .}}
<script>
    var dataURL = '{{url "Provider.ProductData" .p.Id}}';
</script>

<div class="content wrap-960">
    <div class="site-crumbs clearfix">您所在的位置：>首页>品牌索引</div>
    <div class="box-brand-title">
        <img src='{{url "Provider.Image" .p.Id}}.jpg'>

        <h1>{{.p.Name}}</h1>
    </div>
    <div class="right-mod brand-box brand-c">
        <h2 class="title">制造商介绍</h2>

        <div class="brand-infor">{{.p.Introduce}}。</div>
    </div>
    <div class="right-mod brand-box brand-c">
        <h2 class="title">主营产品</h2>

        <div class="brand-infor">{{.p.MainBiz}}</div>
    </div>
    <div class="right-mod brand-box brand-c">
        <h2 class="title">品牌网址</h2>

        <div class="brand-infor">{{.p.WebsiteUrl}}</div>
    </div>
    <div class="right-mod brand-box box-brand-relevance">
        <h2 class="title">相关型号</h2>

        <div id="products"></div>
        <script id="products_tpl" type="text/ractive">
 <ul class="brand-list cf">
                [[#products: index]]
                 <li><a class="img" href="/products/p/[[id]]"  title="[[name]]"><img src="/product/image?file=[[id]].jpg"/><span class="name">[[model]]</span></a></li>
                [[/products]]
                </ul>
              <!-- <button on-click="prev"> 上一页</button> <button on-click="next">下一页</button>-->


        </script>
    </div>
</div>

{{template "layouts/kte/footer.html" .}}


