<header class="hero-unit" style="background-color:#A9F16C">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="hero-text">
                    <p><a href='{{url "App.Index" }}'>首页</a>
                        | <a href='{{url "Passport.Reg" "person"}}'>注册</a>
                    </p>
                </div>
            </div>
            <div id="ajax-preload" style="display: none" class="col-md-2">正在加载...</div>
            <div class="col-md-4">
                <p class="text-right">
                    {{if logined .session}}
                    您好，<a href="/user"><img alt="" src='{{url "User.Image" (emptyOr .session.ucode "")}}.jpg' class="mypic"  width="29" height="29"/>{{.session.screen_name}}!</a>
                    [<a href='{{url "Passport.Logout"}}'>退出</a>]
                    | <a href='{{url "User.ChangePassword"}}'>修改密码</a>
                    | <a href='{{url "User.Orders"}}'>我的订单</a>
                    {{else}}
                    <a href="/passport/login">登录</a>
                    |<a href="/passport/login">微博登录</a>
                    {{end}}
                    {{if isAdmin .session}}
                    | <a href='{{url "Admin.Index"}}'>系统管理</a>
                    {{end}}
                </p>
            </div>
        </div>
    </div>
</header>