{{if .flash.success}}
<div class="alert alert-success">
    {{.flash.success}}
</div>
{{end}}

{{if or .errors .flash.error}}
    <div class="alert alert-error">
        {{if .flash.error}}
        {{.flash.error}}
        {{end}}
        <ul style="margin-top:10px;">
            <script>_errorFields=[];</script>
            {{range $key, $value := .errors}}
            <script>_errorFields.push("{{$key}}");</script>
            <li>{{$value}}</li>
            {{end}}
        </ul>
    </div>

    {{append . "moreScripts" "js/flash.js"}}
{{end}}
