<!DOCTYPE html>

<html>
<head>
    <title>{{.title}} - {{webTitle ""}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta property="qc:admins" content="4450377756301676017305256654" />
    <meta property="wb:webmaster" content="1db3259eae75489a" />
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <link rel="stylesheet" type="text/css" href="/public/libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/app.css">
    <script src="/public/libs/core.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
    <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
    <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
    <script src="/public/js/app.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

{{template "body_header.html" .}}

