{{set . "title" "我的购物车"}}
{{append . "moreScripts" "js/user/cart.js"}}
{{template "layouts/user/header.html" .}}

<script>
    var cartProductPricesURL = '{{url "User.CartProductPrices"}}';
    var cartDataURL = '{{url "User.CartData"}}';
    var cartProductPrefPriceURL = '{{url "User.CartProductPrefPrice"}}';
    var deleteCartProductURL = '{{url "User.DeleteCartProduct"}}';
    var cartProductIncQuantityURL = '{{url "User.IncCartProductQuantity"}}';
</script>
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12" id="page-content-header">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.Cart"}}'>我的购物车</a>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="container-fluid">
        <div class="row-fluid">
            {{template "flash.html" .}}
            TODO 购物车
            <div id="carts"></div>
            <script id="carts_tpl" type="text/ractive">
            <table class="table">
                <tr>
                    <th><input type="checkbox" checked>全选</th>
                    <th>产品</th>
                    <th>单价</th>
                    <th>优惠价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                [[#carts: index]]
                <tr>
                    <td><input type="checkbox" checked></td>
                    <td>
                        <a href='[[url]]' target="_blank">
                            <img src='[[purl]]' style="width: 40px;height: 40px;">
                            [[name]] - [[model]]
                            <br>
                            [[message]]
                        </a>
                    </td>
                    <td>¥ <span>[[price]]</span></td>
                    <td>¥ <span>[[pref_price]]</span></td>
                    <td>
                      [[# stock_number < quantity]]
                          库存不够下订单
                      [[/ gtq]]
                      [[# stock_number >= quantity]]
                            <input type="text" value="[[quantity]]" id="q-[[id]]" style="width: 60px" readonly>
                            <button on-click="inc:[[id]]">+</button>
                            [[# quantity > min ]]
                               <button on-click="dec:[[id]]">-</button>
                            [[/ gtmin]]
                      [[/ ltq]]
                    </td>
                    <td>[[ fixed(quantity * pref_price)]]</td>
                    <td><button on-click="delete:[[id]]">删除</button></td>
                </tr>
                [[/carts]]
                [[^carts]]
                <td colspan="6">你的购物车为空</td>
                [[/carts]]
            </table>
            <a href='/products'>继续购物</a>
             [[# carts.length > 0]]
                 <button>去结算></button>
             [[/hascarts]]
            </script>
        </div>
    </div>
    <script>
        //$("input[name=email]").focus();
    </script>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}
