{{set . "title" "我的购物车"}}
{{append . "moreScripts" "js/user/cart.js"}}
{{template "layouts/kte/header.html" .}}
{{$g := .}}
<script>
    var cartProductPricesURL = '{{url "User.CartProductPrices"}}';
    var cartDataURL = '{{url "User.CartData"}}';
    var cartProductPrefPriceURL = '{{url "User.CartProductPrefPrice"}}';
    var deleteCartProductURL = '{{url "User.DeleteCartProduct"}}';
    var cartProductIncQuantityURL = '{{url "User.IncCartProductQuantity"}}';
    var cleanCartURL = '{{url "User.CleanCart"}}';
    var moveToCollectsURL = '{{url "User.MoveCartsToCollects"}}';
</script>
<div class="content wrap-960">
    <div class="right-mod brand-box">
        <div class="shop-process">
            <span class="active">1. 查看购物车</span><span class="i-exp">&gt;</span>
            <span>2. 核对并确认订单及支付方式</span><span class="i-exp">&gt;</span>
            <span>3. 订单支付</span><span class="i-exp">&gt;</span><span>4. 订单完成</span>
        </div>
        {{template "flash.html" .}}
        <form action='{{url "User.DoNewOrder"}}' method="post">
            <div id="carts"></div>
        </form>
        <script id="carts_tpl" type="text/ractive">
        <div class="cart-list">
            <table class="table-cart-list">
                <thead>
                <tr>
                    <th style="width:60px;"><input type="checkbox" class="checkbox ckb-all" checked="checked"
                                                   id="ckbAllT" on-click="toggle-check"><label for="ckbAllT">全选</label></th>
                    <th style="width:260px;text-align:left;">产品信息</th>
                    <th>状态</th>
                    <th>单价 (￥)</th>
                    <th>数量</th>
                    <th>小计 (￥)</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                [[#carts: index]]
                [[#enabled]]
                <tr>
                    <td><input type="checkbox" name='[[fname(index, "CartId")]]' value="[[id]]" class="checkbox ckb-select-id" checked="checked" ></td>
                    <td><input type="hidden" name='[[fname(index, "ProductId")]]' value="[[product_id]]">
                        <div class="prod-info clearfix">
                            <div class="prod-inner">
                                <div class="prod-img2"><a target="_blank" href='[[url]]'>
                                   <img width="70" height="50" alt="" src='[[purl]]'></a>
                                </div>
                            </div>
                            <div class="prod-intro2">
                                <div class="prod-model"><a href='[[url]]' target="_blank"> [[name]] - [[model]]</a></div>
                                <div class="brand-name">[[message]]</div>
                            </div>
                        </div>
                    </td>
                    <td>销售中</td>
                    <td><b>[[pref_price]]</b>
                    <input type="hidden" name='[[fname(index, "PrefPrice")]]' value="[[pref_price]]">
                    </td>
                    <td>
                        <div class="prod-count">
                         [[# stock_number < quantity]]
                              库存不够下订单
                         [[/ gtq]]
                         [[# stock_number >= quantity]]
                            <div url="/zh-cn/cart/setPrice" class="product-price">
                              [[# quantity > min ]]
                              <span><a title="数量 - 1" class="btn-setprice btn-count-sub" act="sub"  href="javascript:;" on-click="dec:[[id]]">-</a></span>
                              [[/ gtmin]]
                              <span> <input type="text" name='[[fname(index, "Quantity")]]' value="[[quantity]]" id="q-[[id]]" class="txt-quantity textfield" readonly></span>
                              <span><a title="数量 + 1" class="btn-setprice btn-count-add" act="plus" href="javascript:;"  on-click="inc:[[id]]">+</a></span>
                            </div>
                         [[/ ltq]]
                        </div>
                    </td>
                    <td><b class="rc">[[fixed(quantity * pref_price)]]</b></td>
                    <td>
                        <div class="operate">
                        <span><a title="从购物车中删除" class="btn-prod-del"
                                                      on-click="delete:[[id]]"
                                                      data-confirm="确认移除该产品？"
                                                      href="#">X</a>
                        </span>
                        </div>
                    </td>
                </tr>
                [[/enabled]]
                [[^enabled]]
                 <tr>
                    <td></td>
                    <td>
                         <div class="prod-info clearfix">
                            <div class="prod-inner">
                                <div class="prod-img2"><a target="_blank" href="#">
                                <img width="70" height="50" alt="" src='[[purl]]'></a>
                                </div>
                            </div>
                            <div class="prod-intro2">
                                <div class="prod-model"><a href='[[url]]' target="_blank"> [[name]] - [[model]]</a></div>
                                <div class="brand-name"><a href='[[url]]' target="_blank"> [[message]]</a></div>
                            </div>
                        </div>
                    </td>
                    <td><font color="red">已下架</font></td>
                    <td colspan="3"><font color="red">已下架</font></td>
                    <td> <div class="operate"><span><a title="从购物车中删除" class="btn-prod-del"
                                                      onclick="javascript:return confirm('确认移除该产品？');"
                                                      href="#">X</a></span>
                        </div></td>
                </tr>
                [[/enabled]]
                [[/carts]]
                [[^carts]]
                 <tr> <td colspan="7">你的购物车为空</td></tr>
                [[/carts]]
                </tbody>
            </table>
         </div>
        <div class="cart-list-toolbar clearfix" id="cartToolbar">
        [[# carts.length > 0 ]]
            <div class="floatbar">
                <span><a id="clearAll" href="javascript:;" on-click="clean-all">清空购物车</a></span>
                <span class="i-exp">|</span>
                <span><a href="javascript:;" on-click="move-to-collects">移入收藏夹</a></span>
            </div>

            <div class="settlement">
              <span><a href='/products'>继续购物</a>&nbsp;&nbsp;</span>
              <span>商品总价 (不含运费) : </span>
              <span><strong class="cart-total-price">￥&nbsp;<em id="cartTotalPrice">[[fixed(sum(carts))]]</em></strong></span>
              <span> <button title="结算当前购物车" class="btn3" type="submit">结算</button></span>
            </div>
         [[/has_carts]]
          [[^carts]]
           <div class="settlement">
              <span><a href='/products'>继续购物</a>&nbsp;&nbsp;</span>
            </div>
          [[/carts]]
        </div>
        </script>
    </div>
</div>
{{template "layouts/kte/footer.html" .}}