{{set . "title" "修改密码"}}

{{template "layouts/user/header.html" .}}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER -->
            {{template "layouts/user/style.html" .}}
            <!-- END BEGIN STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                修改密码
                <!--<small>managed table samples</small>-->
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href='{{url "App.Index"}}'>首页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.Index"}}'>会员首页</a>
                    <i class="icon-angle-right"></i>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="container-fluid">
        <div class="row-fluid">
            {{template "flash.html" .}}
            {{if eq .session.from "Local"}}
            {{else}}
            你从{{.session.from}}登录, </b>设置本站密码后， 可通过账号<code>{{.session.login}}</code>登录本系统</b>
            {{end}}
            {{if .hasPassword}}
            <p>修改本站登录密码</p>

            <form id="changerPasswordForm" action='{{url "User.ChangePassword"}}' method="post">
                {{with $field := field "oldPassword" .}}
                <p class="{{$field.ErrorClass}}">
                    <strong>旧密码:</strong>
                    <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
                    * <span class="error">{{$field.Error}}</span>
                </p>
                {{end}}

                {{with $field := field "password" .}}
                <p class="{{$field.ErrorClass}}">
                    <strong>新密码:</strong>
                    <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
                    * (6位以上）<span class="error">{{$field.Error}}</span>
                </p>
                {{end}}

                {{with $field := field "confirmPassword" .}}
                <p class="{{$field.ErrorClass}}">
                    <strong>确认新密码:</strong>
                    <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
                    *<span class="error">{{$field.Error}}</span>
                </p>
                {{end}}

                <p><input type="submit" value="提交"></p>
            </form>
            {{else}}
            <p></b>设置本站密码</b></p>
            <form id="changerPasswordForm" action='{{url "User.SetPassword"}}' method="post">
                {{with $field := field "password" .}}
                <p class="{{$field.ErrorClass}}">
                    <strong>密码:</strong>
                    <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
                    * (6位以上）<span class="error">{{$field.Error}}</span>
                </p>
                {{end}}

                {{with $field := field "confirmPassword" .}}
                <p class="{{$field.ErrorClass}}">
                    <strong>确认密码:</strong>
                    <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
                    *<span class="error">{{$field.Error}}</span>
                </p>
                {{end}}

                <p><input type="submit" value="提交"></p>
            </form>

            {{end}}
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}
