{{set . "title" "修改密码"}}
{{if eq .RunMode "dev"}}
{{append . "moreScripts" "js/vendor/jquery-deserialize/dist/jquery.deserialize.min.js"}}
{{end}}
{{template "header.html" .}}

<div class="container">
    <h2>修改密码</h2>
    <hr>
    {{template "flash.html" .}}
    <form id="changerPasswordForm" action="/user/change_password" method="post">
        {{with $field := field "oldPassword" .}}
        <p class="{{$field.ErrorClass}}">
            <strong>旧密码:</strong>
            <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
            * <span class="error">{{$field.Error}}</span>
        </p>
        {{end}}

        {{with $field := field "password" .}}
        <p class="{{$field.ErrorClass}}">
            <strong>新密码:</strong>
            <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
            * (6位以上）<span class="error">{{$field.Error}}</span>
        </p>
        {{end}}

        {{with $field := field "confirmPassword" .}}
        <p class="{{$field.ErrorClass}}">
            <strong>确认新密码:</strong>
            <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
            *<span class="error">{{$field.Error}}</span>
        </p>
        {{end}}

        <p><input type="submit" value="提交"></p>
    </form>
</div>

{{template "footer.html" .}}
