{{set . "title" "会员信息"}}
{{template "layouts/user/header.html" .}}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12" id="page-content-header">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href='{{url "App.Index"}}'>首页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.ChangePassword"}}'>我的信息 - 修改密码</a>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid profile">
        <div class="span12">
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li><a href='{{url "User.UserInfo"}}'>会员资料</a></li>
                    <li class="active"><a href='{{url "User.ChangePassword"}}'>安全设置</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_2">
                        <div style="height: auto;" id="accordion3-3" class="accordion collapse in">
                            {{template "flash.html" .}}
                            {{if eq .session.from "Local"}}
                            {{else}}
                            <div class="alert alert-info">
                                <button class="close" data-dismiss="alert"></button>
                                您从{{.session.from}}登录, </b>设置本站密码后，
                                可通过账号<code>{{.session.login}}</code>登录本系统</b>
                            </div>
                            {{end}}
                            {{if .hasPassword}}
                            <p>修改本站登录密码</p>

                            <form id="changerPasswordForm" action='{{url "User.ChangePassword"}}' method="post"
                                  class="form-horizontal">
                                {{with $field := field "oldPassword" .}}
                                <div class="control-group {{$field.ErrorClass}}">
                                    <label class="control-label">原始密码<span class="required">*</span></label>

                                    <div class="controls">
                                        <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}"
                                               required="" class="span6 m-wrap">
                                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                    </div>
                                </div>
                                {{end}}

                                {{with $field := field "password" .}}
                                <div class="control-group {{$field.ErrorClass}}">
                                    <label class="control-label">新密码<span class="required">*</span></label>

                                    <div class="controls">
                                        <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}"
                                               required="" class="span6 m-wrap">
                                        <span for="password" class="help-inline">6位以上. {{$field.Error}}</span>

                                    </div>
                                </div>
                                {{end}}

                                {{with $field := field "confirmPassword" .}}
                                <div class="control-group {{$field.ErrorClass}}">
                                    <label class="control-label">确认新密码<span class="required">*</span></label>

                                    <div class="controls">
                                        <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}"
                                               required="" class="span6 m-wrap">
                                        <span for="{{$field.Name}}" class="help-inline">6位以上. {{$field.Error}}</span>
                                    </div>
                                </div>
                                {{end}}
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">提交</button>
                                    <button type="reset" class="btn">取消</button>
                                </div>
                            </form>
                            {{else}}
                            <p>设置本站密码</p>

                            <form id="changerPasswordForm" action='{{url "User.SetPassword"}}' method="post"
                                  class="form-horizontal">
                                {{with $field := field "password" .}}
                                <div class="control-group {{$field.ErrorClass}}">
                                    <label class="control-label">密码<span class="required">*</span></label>

                                    <div class="controls">
                                        <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}"
                                               required="" class="span6 m-wrap">
                                        <span for="{{$field.Name}}" class="help-inline">6位以上. {{$field.Error}}</span>
                                    </div>
                                </div>
                                {{end}}
                                {{with $field := field "confirmPassword" .}}
                                <div class="control-group {{$field.ErrorClass}}">
                                    <label class="control-label">确认密码<span class="required">*</span></label>

                                    <div class="controls">
                                        <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}"
                                               required="" class="span6 m-wrap">
                                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                    </div>
                                </div>
                                {{end}}
                                <div class="form-actions">
                                    <button type="submit" class="btn blue">提交</button>
                                    <button type="reset" class="btn">取消</button>
                                </div>
                            </form>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}
