{{set . "title" "我的购物车"}}
{{append . "moreScripts" "js/user/prev_order.js"}}
{{template "layouts/user/header.html" .}}

<script>
    var id = '{{.order.Id}}';
    var orderCode = '{{.order.Code}}';
    var orderItemsURL = '{{url "User.OrderItems"}}';
    var orderURL = '{{url "User.OrderData"}}';
    var orderProductsURL = '{{url "User.OrderProducts"}}';
    var dasForSelect = '{{url "User.DasForSelect"}}';
</script>
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12" id="page-content-header">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="index.html">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.Cart"}}'>填写核对订单信息</a>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="container-fluid">
        <div class="row-fluid">
            <div>我的购物车 -> *填写核对订单信息 -> 提交订单</div>
            <h4>收货地址确认:</h4>

            <div id="das"></div>
            <hr/>

            <h4>发票信息: </h4>
            发票开具方式：
            <label class="radio inline">
            <input type="radio" name="" value="1" checked/>
            普通发票（纸质）
             </label>
            <label class="radio inline">
                <input type="radio" name="" value="2"/>
                增值税发票
            </label>


            <h4>支付及配送方式：</h4>
            <h5>支付方式：</h5>
            {{range $index,$p := .payments}}
            <label class="radio">
                <input type="radio" name="" value="{{.Id}}" {{if eq $index 0}}checked{{end}}/>
                {{.Name}}
            </label>
            {{end}}
            <h5>配送方式：</h5>
            {{range $index,$p := .shippings}}
            <label class="radio">
                <input type="radio" name="d" value="{{.Id}}" {{if eq $index 0}}checked{{end}}/>
                {{.Name}}
            </label>
            {{end}}


            <form action='{{url "User.DoSubmitOrder"}}' method="post">
                <div id="items"></div>
            </form>
            <script id="items_tpl" type="text/ractive">

            <table>
              [[#das: index]]
                 <tr><td><radio name="da" value="[[id]]">[[name]]</td></tr>
              [[/das]]
            </table>

            <h4>产品信息确认：</h4>
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>产品</th>
                        <th>单价</th>
                        <th>数量</th>
                        <th>小计</th>
                     </tr>
                    [[#items: index]]
                         <tr>
                            <td>[[index + 1]].</td>
                            <td>
                                <a href='[[url]]' target="_blank">
                                    <img src='[[purl]]' style="width: 40px;height: 40px;">
                                    [[name]] - [[model]]
                                    <br>
                                    [[message]]
                                </a>
                            </td>
                            <td>¥ <span>[[price]]</span></td>
                            <td> [[quantity]] </td>
                            <td>¥ [[ fixed(quantity * price)]]</td>
                        </tr>
                    [[/items]]
                    <tr>
                        <td colspan="3"></td>
                        <td> [[items.length]]款商品</td>
                        <td>总计¥  [[fixed(order.amount)]]</td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td colspan="2">总计（不含运费）¥ <strong><font color="red">[[fixed(order.amount)]]</font></strong></td>
                    </tr>
                </table>

                 <button disabled='[[submitable()]]'>提交订单&gt;</button>

            </script>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}


