{{set . "title" "我的购物车"}}
{{append . "moreScripts" "js/user/confirm_order.js"}}
{{append . "moreScripts" "js/user/order_items.js"}}
{{template "layouts/user/header.html" .}}

<script>
    var id = '{{.order.Id}}';
    var orderCode = '{{.order.Code}}';
    var orderItemsURL = '{{url "User.OrderItems"}}';
    var orderURL = '{{url "User.OrderData"}}';
    var orderProductsURL = '{{url "User.OrderProducts"}}';
    var dasForSelect = '{{url "User.DasForSelect"}}';
    var insForSelect = '{{url "User.InsForSelect"}}';
</script>
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12" id="page-content-header">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.ConfirmOrder" .order.Code}}'>填写核对订单信息</a>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="container-fluid">
        <div class="row-fluid">
            <form action='{{url "User.DoSubmitOrder"}}' method="post">
                <input name="o.Id" type="hidden" value="{{.order.Id}}">
                <input name="o.Code" type="hidden" value="{{.order.Code}}">

                <div>我的购物车 -> *填写核对订单信息 -> 提交订单</div>
                <h4>收货地址确认: </h4>
                <div id="das"></div>
                <hr/>

                <h4>发票信息: </h4>
                需要发票信息： <input type="checkbox" id="ckb-invoice">

                <div id="ins" style="display: none"></div>

                <hr/>
                <h4>支付及配送方式：</h4>
                <h5>支付方式：</h5>
                {{range $index,$p := .payments}}
                <label class="radio">
                    <input type="radio" name="o.PaymentId" value="{{$p.Id}}" {{if eq $index 0}}checked{{end}}/>
                    {{.Name}}
                </label>
                {{end}}
                <h5>配送方式：</h5>
                {{range $index,$s := .shippings}}
                <label class="radio">
                    <input type="radio" name="o.ShippingId" value="{{ $s.Id}}" {{if eq $index 0}}checked{{end}}/>
                    {{$s.Name}}
                </label>
                {{end}}

                <hr/>
                <h4>产品信息确认：</h4>
                {{template "User/includes/_OrderItems.html" .}}

                <button id="btn-submit" type="button">提交订单&gt;</button>
            </form>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}


