<div class="confirm-content">
    <small>
        <a href='{{url "User.Invoices"}}' target="_blank" class="button button-blue">修改</a> &nbsp;
        <a id="btn-refresh-ins" href="javascript:void(0)" class="button button-gary">加载</a>
    </small>

    <table class="table-confirm">
        <colgroup>
            <col style="width:130px;">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <td>
                <div class="payment-type">
                    {{range $index, $in := .ins}}
                    <dl class="{{if eq $index 0}}active{{end}}">
                        <dt><input type="radio" class="radio" value="{{.Id}}" name="o.InvoiceId" {{if eq $index  0}}checked{{end}}>
                            <label for="o.PaymentId">{{.TypeDesc}} - {{.CompanyName}}</label>
                          <dd>&nbsp;</dd>
                        </dt>
                    </dl>
                    {{else}}
                    <div class="prompt prompt-nologin"> 您目前还没有填写发票信息！，请点击“修改”按钮完善信息，完成后点击“加载”按钮。</div>
                    {{end}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
