{{set . "title" "会员信息"}}

{{append . "moreStyles" "libs/fancybox/source/jquery.fancybox.css"}}

{{append . "moreScripts" "libs/city/jquery.ChinaCitySelect.js"}}
{{append . "moreScripts" "media/js/jquery.form.min.js"}}
{{append . "moreScripts" "media/js/jquery.MultiFile.js"}}
{{append . "moreScripts" "libs/fancybox/source/jquery.fancybox.pack.js"}}
{{append . "moreScripts" "js/user/userinfo.js"}}

{{template "layouts/user/header.html" .}}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER -->
            {{template "layouts/user/style.html" .}}
            <!-- END BEGIN STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                我的信息
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href='{{url "App.Index"}}'>首页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.Index"}}'>会员首页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.UserInfo"}}'>我的信息</a>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid profile">
        <div class="span12">
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href='{{url "User.UserInfo"}}'>会员资料</a></li>
                    <li class=""><a href='{{url "User.ChangePassword"}}'>安全设置</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1_1">
                        <div style="height: auto;" id="accordion3-3" class="accordion collapse in">
                            {{template "flash.html" .}}

                            <div class="tabbable tabbable-custom tabs-left">
                                <!-- Only required for left/right tabs -->
                                <ul class="nav nav-tabs tabs-left">
                                    <li class="active"><a href="#tab_3_1" data-toggle="tab">基本信息</a></li>
                                    <li><a href="#tab_3_2" data-toggle="tab">头像上传</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_3_1" style="min-height: 124px;">
                                        {{template "User/includes/_UserInfo_baseinfo.html" .}}
                                    </div>
                                    <div class="tab-pane" id="tab_3_2">
                                        <form id="updateImageForm" action='{{url "User.UploadImage"}}' method="post"
                                              class="form-horizontal" enctype="multipart/form-data">
                                            <div class="control-group">
                                                <label class="control-label">头像<span class="required">*</span></label>
                                                <div class="controls">
                                                    <a class="fancybox" rel="group" href='{{url "User.Image" .session.ucode}}.jpg' title="头像">
                                                        <img class="mypic" src='{{url "User.Image" .session.ucode}}.jpg'  width="230" height="230"></a>
                                                </div>
                                            </div>
                                            <div class="control-group">
                                                <label class="control-label">上传<span class="required">*</span></label>

                                                <div class="controls">
                                                    <input type="file" name="image" class="multi" maxlength="1"
                                                           accept="png|jpg"/>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <button type="submit" class="btn blue">上传</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>

<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}
