{{set . "title" "会员信息"}}

{{append . "moreScripts" "libs/city/jquery.ChinaCitySelect.js"}}
{{append . "moreScripts" "js/user/userinfo.js"}}

{{template "layouts/user/header.html" .}}
{{$g := .}}

<script>
    var _p = '{{flash . "userDetail.CompanyProvince"}}' || "{{$g.userDetail.CompanyProvince}}";
    var _c = '{{flash . "userDetail.CompanyCity"}}' || "{{$g.userDetail.CompanyCity}}";
    var _a = '{{flash . "userDetail.CompanyArea"}}' || "{{$g.userDetail.CompanyArea}}";
</script>

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <!-- BEGIN STYLE CUSTOMIZER -->
        {{template "layouts/user/style.html" .}}
        <!-- END BEGIN STYLE CUSTOMIZER -->
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            我的信息
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href='{{url "App.Index"}}'>首页</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href='{{url "User.Index"}}'>会员首页</a>
                <i class="icon-angle-right"></i>
            </li>
            <li>
                <a href='{{url "User.UserInfo"}}'>我的信息</a>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid profile">
    <div class="span12">
        <div class="tabbable tabbable-custom">
        <ul class="nav nav-tabs">

            <li class="active"><a href='{{url "User.UserInfo"}}'>会员资料</a></li>
            <li class=""><a href='{{url "User.ChangePassword"}}'>安全设置</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1_1">
            <div style="height: auto;" id="accordion3-3" class="accordion collapse in">
                {{template "flash.html" .}}
                <form id="userInfoForm" action='{{url "User.UserInfo"}}' method="post"
                      class="form-horizontal">
                {{with $field := field "user.LoginName" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">登录名<span class="required">*</span></label>

                    <div class="controls">
                        <input type="text" size="20" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.user.LoginName}}"
                               required="" class="span6 m-wrap" {{if $g.user.LoginName}} readonly="true"{{end}}>
                        <span for="{{$field.Name}}" class="help-inline">由数字、字母、和_组成，至少4位.{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "user.Email" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">邮箱<span class="required">*</span></label>

                    <div class="controls">
                        <div class="input-prepend"><span class="add-on">@</span>
                            <input type="email" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.user.Email}}"
                                   required="" class="span6 m-wrap" {{if $g.user.Email}} readonly="true"{{end}}>
                        </div>
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "user.RealName" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">真实姓名/名称</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.user.RealName}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "user.Gender" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">性别</label>

                    <div class="controls">
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "male" $g.user.Gender}}</span></div>
                            男
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "female" $g.user.Gender}}</span></div>
                            女
                        </label>
                    </div>
                </div>
                {{end}}

                {{with $field := field "user.MobilePhone" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">手机号码</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.user.MobilePhone}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.WorkKind" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">您的工作性质</label>
                    <div class="controls">
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "1" $g.userDetail.WorkKind}}</span></div>
                            公司高层管理
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "2" $g.userDetail.WorkKind}}</span></div>
                            设计及开发工程
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "3" $g.userDetail.WorkKind}}</span></div>
                            工程管理
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "4" $g.userDetail.WorkKind}}</span></div>
                            测试与测量
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "5" $g.userDetail.WorkKind}}</span></div>
                            产品工程
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "6" $g.userDetail.WorkKind}}</span></div>
                            生产管理
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "7" $g.userDetail.WorkKind}}</span></div>
                            采购管理
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "8" $g.userDetail.WorkKind}}</span></div>
                            分销与供应链管理
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "9" $g.userDetail.WorkKind}}</span></div>
                            行业服务/咨询顾问
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "10" $g.userDetail.WorkKind}}</span></div>
                            科研/学术研究
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "11" $g.userDetail.WorkKind}}</span></div>
                            销售及市场管理
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "12" $g.userDetail.WorkKind}}</span></div>
                            学生
                        </label>
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.Qq" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">腾讯QQ</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.userDetail.Qq}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.Msn" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">MSN</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.userDetail.Msn}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.AliWangwang" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">阿里旺旺</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.userDetail.AliWangwang}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                <hr>
                {{with $field := field "userDetail.CompanyName" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">公司名称</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.userDetail.CompanyName}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}

                {{with $field := field "userDetail.CompanyType" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">公司类型</label>

                    <div class="controls">
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "1" $g.userDetail.CompanyType}}</span></div>
                            企业单位
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "2" $g.userDetail.CompanyType}}</span></div>
                            个体经营
                        </label>
                        <label class="radio">
                            <div class="radio"><span class="checked"> {{radiox $field "3" $g.userDetail.CompanyType}}</span></div>
                            事业单位或社会团体
                        </label>
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.CompanyMainBiz" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">公司业务</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}"
                               value="{{emptyOr $field.Flash $g.userDetail.CompanyMainBiz}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}

                <div class="control-group">
                    <label class="control-label">所在地区</label>

                    <div class="controls">
                        <p><select id="state" name="userDetail.CompanyProvince"></select>&nbsp;
                            <select id="city" name="userDetail.CompanyCity"></select>&nbsp;
                            <select id="district" name="userDetail.CompanyArea"></select></p>

                        <div id="holder"></div>
                    </div>
                </div>

                {{with $field := field "userDetail.CompanyAddress" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">公司地址</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}"
                               value="{{emptyOr $field.Flash $g.userDetail.CompanyAddress}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.CompanyZipCode" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">邮编</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}"
                               value="{{emptyOr $field.Flash $g.userDetail.CompanyZipCode}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.CompanyPhone" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">办公电话</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.userDetail.CompanyPhone}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                {{with $field := field "userDetail.CompanyFax" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">传真号码</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.userDetail.CompanyFax}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}

                {{with $field := field "userDetail.CompanyWebsite" .}}
                <div class="control-group {{$field.ErrorClass}}">
                    <label class="control-label">公司网址</label>

                    <div class="controls">
                        <input type="text" size="100" name="{{$field.Name}}"
                               value="{{emptyOr $field.Flash $g.userDetail.CompanyWebsite}}"
                               class="span6 m-wrap">
                        <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                    </div>
                </div>
                {{end}}
                <div class="form-actions">
                    <button type="submit" class="btn blue">提交</button>
                    <button type="reset" class="btn">取消</button>
                </div>
                </form>
</div>
            </div>
        </div>
        </div>
        </div>
</div>
<!-- END PAGE CONTENT-->
</div>

<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}
