{{set . "title" "积分规则"}}

{{template "layouts/user/header.html" .}}

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER -->
            {{template "layouts/user/style.html" .}}
            <!-- END BEGIN STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                会员首页
                <!--<small>managed table samples</small>-->
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href='{{url "App.Index"}}'>首页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li>
                    <a href='{{url "User.Index"}}'>会员首页</a>
                    <i class="icon-angle-right"></i>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="container-fluid">
        <div class="row-fluid">
                {{template "flash.html" .}}
            <div>您的会员等级： <a href='{{url "User.ScoresRules"}}' title="查看积分规则"><span class="badge badge-success">{{.userLevel.Name}}</span></a></div>
            <div>您的积分： <a href='{{url "User.ScoresRules"}}' title="查看积分规则"><span class="badge badge-success">{{.userScores}}</span></a></div>
       </div>
    </div>

    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/user/footer.html" .}}
