{{set . "title" "查看订单"}}

{{append . "moreScripts" "js/user/pay_order.js"}}
{{append . "moreScripts" "js/user/order_items.js"}}

{{template "layouts/kte/header.html" .}}
{{$g := .}}
<script>
    var id = '{{.order.Id}}';
    var orderCode = '{{.order.Code}}';
    var orderItemsURL = '{{url "User.OrderItems"}}';
    var orderURL = '{{url "User.OrderData"}}';
    var orderProductsURL = '{{url "User.OrderProducts"}}';

    var orderLogsDataURL = '{{url "User.OrderLogsData"}}';
</script>
<div class="content wrap-960">
    <div class="right-mod brand-box">
        <div class="shop-process"><span>查看订单</span></div>
        <div style="font-size:13px;" class="order-info">
            <p>
                <span>订单号为</span>
                <span style="font-size:1.2em;color:#525252;font-weight:bold;">{{.order.Code}}</span><span>的订单于</span>
                <span>{{.order.SubmitAt|datetime}}</span><span>成功提交！</span>
                {{if (isManager .session)}}
                <a href='{{url "Admin.ShowUserInfos" .order.UserId}}' target="_blank"> 查看下单用户</a>
                {{end}}
            </p>

            <p>订单当前状态 : <span>{{.order.StatusDesc}}</span>   {{if .order.IsPayed}}&nbsp;支付时间： {{.order.PayAt|datetime}}{{end}}</p>

            <p>支付金额<em style="font-weight:bold;font-size:1.2em;color:#D90000;">￥{{.order.Amount}}</em></p>
        </div>
        <div class="confirm confirm-addr-info"><h2>支付方式</h2>
            <div class="confirm-content">
                <div id="ps" data-remote='{{url "User.OrderPaymentForView" .order}}'></div>
            </div>
        </div>
        <div class="confirm confirm-addr-info"><h2>配送方式</h2>
            <div class="confirm-content">
                <div id="shippings" data-remote='{{url "User.OrderShippingForView" .order}}'></div>
            </div>
        </div>
        <div class="confirm confirm-addr-info"><h2>收货信息</h2>
            <div class="confirm-content">
                <div id="das" data-remote='{{url "User.OrderDaForView" .order}}'></div>
            </div>
        </div>
        <div class="confirm confirm-addr-info"><h2>发票信息</h2>
            <div class="confirm-content">
                <div id="ins" data-remote='{{url "User.OrderInForView" .order}}'></div>
            </div>
        </div>
        <div class="confirm confirm-member-info"><h2>订单详情</h2>

            <div class="order-baseinfo"><span>订单号 : {{.order.Code}}</span><span class="i-exp"> &nbsp;| &nbsp;</span><span>生成时间 : {{.order.SubmitAt|datetime}}</span><span
                    class="i-exp">|</span><span>订单总额 : </span><span>￥{{.order.Amount}}</span></div>
            <div class="confirm-prod-info">
            {{template "User/includes/_OrderItems.html" .}}
            </div>
        </div>

        <div class="confirm confirm-addr-info"><h2>订单日志</h2>
            <div id="logs"></div>
            <script id="logs_tpl" type="text/ractive">
                    <table>
                    [[#logs: index]]
                    <tr><td>[[message]] - [[format(created_at)]]</td></tr>
                    [[/logs]]
                    </table>

                </script>
         </div>
    </div>
</div>
{{template "layouts/kte/footer.html" .}}