<div class="wrap-960">
    <div class="wel mod-left">
        {{ys_slogan}}
    </div>
    <div class="log mod-right">
        {{if logined .session}}
        <a href="/user">
            <img alt="" src='{{url "User.Image" (emptyOr .session.ucode "")}}.jpg' class="mypic" width="34" height="34" />
            {{.session.screen_name}}
        </a>
        [<a href='{{url "Passport.Logout"}}'>退出</a>]
        |<a href='{{url "User.ChangePassword"}}'>修改密码</a>
        |<a href='{{url "User.Orders"}}'>我的订单</a>
        |<a href='{{url "App.NewInquiry"}}'>我要询价</a>
        {{if isAdmin .session}}
        |<a href='{{url "Admin.Index"}}'>系统管理</a>
        {{end}}
        {{else}}
        <div class="log-form">
            <form action="" method="get">
                <input class="txt-input" placeholder="用户名/Emai" name="login" type="text" value="admin"/>
                <input class="txt-input" placeholder="密码" type="password" name="password" value="computer"/>
                <input class="log-btn" name="" type="button" value="登录"/>
            </form>
        </div>
        <a href='{{url "Passport.ForgotPasswordApply"}}'>忘记密码</a>&nbsp;|&nbsp;
        <a href='{{url "Passport.Reg" "person"}}'>免费注册</a>
        {{end}}
    </div>
</div>