{{$ctcode := (renderArgs "ctcode" .)}}
<h2 class="title">产品目录</h2>
<ul class="pro-list cf">
    {{range .categories}}
    <li class='{{if startsWith $ctcode .Code}}current{{end}}'>
        <a href='{{url "Product.IndexByCategory" .Code}}'>{{.Name}}<i></i></a></li>
    {{if startsWith $ctcode .Code}}
    <ul style="margin-left: 30px;">
        {{range $i, $c := (categoryChildren .Id) }}
        <li class='{{if eq $ctcode $c.Code}}current{{end}}'>
            <a href='{{url "Product.IndexByCategory" $c.Code}}'>{{$c.Name}} <i></i></a>
        </li>
        {{end}}
    </ul>
    {{end}}
    {{end}}
</ul>
<a class="all-pro-list" href="#nolink" target="_blank">所有商品分类>>&nbsp;&nbsp;</a>