{{set . "title" "新闻中心"}}
{{template "layouts/kte/header.html" .}}

<div class="content wrap-960">
    <div class="site-crumbs clearfix">您所在的位置：>首页>公司动态 </div>
    <div class="right-mod brand-box news">
        <h2 class="title">公司动态</h2><a class="more" href='{{url "News.List" "1"}}'>更多>></a>
        <ul class="TopNews cf">
            {{range .gs_tws}}
            <li>
                <div class="news-img"><a href='{{url "News.View" .Id}}'><img src='{{url "News.Image" .Id}}.jpg' style="width: 130px;height: 130px"/></a></div>
                <div class="ShortDatil">
                    <h2>{{.Title}}</h2>
                    <div class="time">时间：{{.PublishAt|date}}<span> 来源：{{.Source}}</span></div>
                    <div class="detail">{{.Summary}}</div>
                </div>
            </li>
            {{end}}
        </ul>
        <ul class="news-list cf">
            {{range .gs_no_tws}}
            <li><a href='{{url "News.View" .Id}}'>{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
    <div class="right-mod brand-box news">
        <h2 class="title">行业动态</h2><a class="more"  href='{{url "News.List" "2"}}'>更多>></a>
        <ul class="news-list cf">
            {{range .hys}}
            <li><a href='{{url "News.View" .Id}}'>{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
    <div class="right-mod brand-box news">
        <h2 class="title">技术方案</h2><a class="more"  href='{{url "News.List" "3"}}'>更多>></a>
        <ul class="news-list cf">
            {{range .jss}}
            <li><a href='{{url "News.View" .Id}}'>{{.Title}}</a></li>
            {{end}}
        </ul>
    </div>
</div>

{{template "layouts/kte/footer.html" .}}
