{{set . "title" .news.Title}}
{{template "layouts/kte/header.html" .}}
<div class="content wrap-960">
    <div class="site-crumbs clearfix">
        您所在的位置：>首页>{{if .news.IsServiceArticle}}客户服务{{end}}{{if .news.IsAboutArticle}}关于我们{{end}}{{if .news.IsPureNews}}新闻动态{{end}}>{{.news.Title}}
    </div>
    <!--左边模块-->
    <div class="left-pro">
        <!--热销产品排行-->
        <div class="hot-pro-mod pro-mod">
            {{template "layouts/kte/w-hot-products.html" .}}
        </div>
        <!--最新产品-->
        <div class="news-pro-mod pro-mod">
            {{template "layouts/kte/w-latest-products.html" .}}
        </div>
        <!--特价产品-->
        <div class="news-pro-mod pro-mod">
            {{template "layouts/kte/w-specialoffer-products.html" .}}
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">
        <div class="pro-mod2 right-mod news-list-box">
            <div class="NewsTitle">
                <h1>{{.news.Title}}
                    <small>{{.news.Subtitle}}</small>
                </h1>
            </div>
            <div class="Center">
                时间：{{.news.DisplayAt|date}} 来源：{{.news.Source}} {{if eq .news.Enabled false}}<font
                    color="red">新闻未发布</font>{{end}}
            </div>
            <div class="SortBlock750">
                {{raw .newsDetail}}

                {{if gt (len .files) 0}}
                <div>附件列表:</div>
                <ul>
                    {{range .files}}
                    <li><a href='{{url "News.MFile" .Value}}' target="_blank">{{.Name}}</a> </li>
                    {{end}}
                </ul>
                {{end}}
            </div>
            <div class="mb5">
                {{range .prevs}}
                <p>上一篇：<a href='{{url "News.View" .Id}}'>{{.Name}}</a></p>
                {{end}}
                {{range .nexts}}
                <p>下一篇：<a href='{{url "News.View" .Id}}'>{{.Name}}</a></p>
                {{end}}
            </div>
        </div>
    </div>
</div>


{{template "layouts/kte/footer.html" .}}
