{{set . "title" "新闻-详情"}}
{{template "layouts/kte/header.html" .}}
<div class="content wrap-960">
    <div class="site-crumbs clearfix">
        您所在的位置：>首页>新闻展示>{{.news.Title}}
    </div>
    <!--左边模块-->
    <div class="left-pro">
        <!--热销产品排行-->
        <div class="hot-pro-mod pro-mod">
            <h2 class="title">热销产品排行</h2>
            <ul class="pro-list cf">
                <li class="hot-red"><i>1</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li class="hot-red"><i>2</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li class="hot-red"><i>3</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li><i>4</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li><i>5</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li><i>6</i><a href="#nolink" target="_blank">STAC91002 </a></li>
            </ul>
        </div>
        <!--热销产品-->
        <div class="news-pro-mod pro-mod">
            <h2 class="title">最新产品</h2>
            <ul class="pro-list cf">
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
            </ul>
        </div>
        <!--特价产品-->
        <div class="news-pro-mod pro-mod">
            <h2 class="title">特价产品</h2>
            <ul class="pro-list cf">
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif"
                                                                                width="80" height="80"/></a>

                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>

                        <p class="price">&yen;800.00</p>

                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif"
                                                                                   width="67" height="25"/></a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">
        <div class="pro-mod2 right-mod news-list-box">
            <div class="NewsTitle">
                <h1>{{.news.Title}}
                    <small>{{.news.Subtitle}}</small>
                </h1>
            </div>
            <div class="Center">
                时间：{{.news.PublishAt|date}} 来源：{{.news.Source}} {{if eq .news.Enabled false}}<font
                    color="red">新闻未发布</font>{{end}}
            </div>
            <div class="SortBlock750">
                {{raw .newsDetail}}

                {{if gt (len .files) 0}}
                <div>附件列表:</div>
                <ul>
                    {{range .files}}
                    <li><a href='{{url "News.MFile" .Value}}' target="_blank">{{.Name}}</a> </li>
                    {{end}}
                </ul>
                {{end}}
            </div>
            <div class="mb5">
                {{range .prevs}}
                <p>上一篇：<a href='{{url "News.View" .Id}}'>{{.Name}}</a></p>
                {{end}}
                {{range .nexts}}
                <p>下一篇：<a href='{{url "News.View" .Id}}'>{{.Name}}</a></p>
                {{end}}
            </div>
        </div>
    </div>
</div>


{{template "layouts/kte/footer.html" .}}
