{{set . "title" "新闻-详情"}}
{{template "layouts/kte/header.html" .}}
<div class="content wrap-960">
    <div class="site-crumbs clearfix">
        您所在的位置：>首页>产品展示>34534
    </div>
    <!--左边模块-->
    <div class="left-pro">
        <!--热销产品排行-->
        <div class="hot-pro-mod pro-mod">
            <h2 class="title">热销产品排行</h2>
            <ul class="pro-list cf">
                <li class="hot-red"><i>1</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li class="hot-red"><i>2</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li class="hot-red"><i>3</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li><i>4</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li><i>5</i><a href="#nolink" target="_blank">STAC91002 </a></li>
                <li><i>6</i><a href="#nolink" target="_blank">STAC91002 </a></li>
            </ul>
        </div>
        <!--热销产品-->
        <div class="news-pro-mod pro-mod">
            <h2 class="title">最新产品</h2>
            <ul class="pro-list cf">
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
            </ul>
        </div>
        <!--特价产品-->
        <div class="news-pro-mod pro-mod">
            <h2 class="title">特价产品</h2>
            <ul class="pro-list cf">
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
                <li>
                    <a class="news-pro-img" href="#nolink" target="_blank"><img src="/public/kte/images/img4.gif" width="80" height="80" /></a>
                    <div class="news-pro-infor">
                        <a class="name" href="#nolink" target="_blank">ACTT0228ACTT0228</a>
                        <p class="price">&yen;800.00</p>
                        <p><a class="buy-btn2" href="#nolink" target="_blank"><img src="/public/kte/images/btn_buy.gif" width="67" height="25" /></a></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">
        <div class="pro-mod2 right-mod news-list-box">
            <div class="NewsTitle">
                <h1>MAX14626: 高性能</h1>
            </div>
            <div class="Center">
                时间：12-06 来源：www.icgoo.net
            </div>
            <div class="SortBlock750">
                <p>状况Explanations for product status codes</p>
                <p>状况：生产中。</p>
                <p>概述</p>
                <p>MAX14626电流环保护器内置限流开关，能够防止因电流环故障而导致传感器损坏。限流开关的导通电阻为25Ω (典型值)，工作输入电压范围：+2.3V至+36V。高精度限流值可以设置到30mA，非常适合传感器读取设备的保护。</p>

                <p>MAX14626工作在连续限流模式，检测并处理过流事件，其它安全功能包括：热关断和反向输入保护，其中热关断可防止保护器因过热而受损；反向输入保护则可避免传感器极性反接。</p>

                <p>该器件采用微型6引脚(3mm x 3mm) TDFN封装，带有裸焊盘；器件工作在-40°C至+85°Cc度范围。</p>

                <p>关键特性</p>

                <p> 高性能</p>
                <p>低导通电阻：25Ω (典型值)</p>
                <p>高精度：±10% 限流门限</p>
                <p> 较宽的电源电压：+2.3V至+40V</p>
                <p>低工作电流</p>
                <p> 超低温度系数</p>
                <p> 为传感器提供可靠保护</p>
                <p> 与分立方案相比，可有效避免大功率损耗问题</p>
                <p> 热关断</p>
                <p> 反向输入保护</p>
                <p>  为紧凑型系统节省电路板空间</p>
                <p>无需分立的PTC自恢复保险丝、齐纳二极管和电阻器</p>
                <p>3mm x 3mm, 6引脚TDFN封装</p>


            </div>
            <div class="mb5">
                <p>上一篇：<a href="http://www.icgoo.net/news/17/44214.html">DG401, DG403, DG405: Plug-In Upgrade for Industry-Standard DG401/DG403/DG405</a></p>
                <p>下一篇：<a href="http://www.icgoo.net/news/17/44214.html">DG401, DG403, DG405: Plug-In Upgrade for Industry-Standard DG401/DG403/DG405</a></p>
            </div>
        </div>
    </div>
</div>


{{template "layouts/kte/footer.html" .}}
