{{set . "title" "产品中心"}}
{{append . "moreScripts" "js/index/index.js"}}
{{template "layouts/kte/header.html" .}}

<div class="content wrap-960">
    <!--左边模块-->
    <div class="left-pro">
        <!--产品目录-->
        <div class="pro-trees-mod pro-mod">
            {{template "layouts/kte/w-cg.html" .}}
        </div>
        <!--品牌推荐-->
        <div class="brand-mod pro-mod">
            {{template "layouts/kte/w-ps.html" .}}
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">

        <div>品牌:
            <a>全部</a>
        </div>
        <div>
            分类:
            <a>全部
                {{range .pcts}}
                <a href='{{url "Product.IndexByCategory" .Code}}'>{{.Name}}</a> &gt;
                {{end}}
            </a>
        </div>
        产品中心TODO
        <table class="table right-mod">
            {{range .products }}
            <tr>
                <td><a href='{{url "Product.View" .Id}}'>
                    <img src='{{url "Product.Image" .Id}}.jpg' style="width: 40px;height: 40px">{{.Name}}</a>
                    <small>{{.EnabledAt|date}}</small>
                    <button>加入购物车</button>
                    <button data-url='{{url "User.CollectProduct" .Id}}' data-confirm-text="确认收藏此此产品?"
                            data-logined="true">收藏
                    </button>
                </td>
            </tr>
            {{end}}
        </table>
    </div>
</div>

{{template "layouts/kte/footer.html" .}}
