{{set . "title" "产品中心"}}
{{append . "moreScripts" "js/product/index.js"}}
{{template "layouts/kte/header.html" .}}
{{$g := .}}
{{set . "pageObject" .products}}
<script>
    var ProductIndexURL = '{{url "Product.Index"}}';
    var AllProvidersURL = '{{url "Product.ProvidersForSelect"}}';
    var AllCategoriesURL = '{{url "Product.CategoriesForSelect"}}';
    var ctcode = '{{$g.ctcode}}';
    var p = '{{ $g.p }}';
    var q = '{{$g.q}}';
    var hide_filters = '{{$g.hide_filters}}';
    page.set("p", p).set("q", q).set("ctcode", ctcode).set("hide_filters", hide_filters).url(ProductIndexURL);
</script>
<div class="content wrap-960">
    <!--左边模块-->
    <div class="left-pro">
        <!--产品目录-->
        <div class="pro-trees-mod pro-mod">
            {{template "layouts/kte/w-cg.html" .}}
        </div>
        <!--热销产品-->
        <div class="news-pro-mod pro-mod">
             {{template "layouts/kte/w-latest-products.html" .}}
        </div>
        <!--特价产品-->
        <div class="box-history-view pro-mod">
            {{template "layouts/kte/w-viewed-products.html" .}}
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">
        <!--筛选-->
        <div class="pro-mod2 right-mod">
            <h2 class="title">
                {{if not (ys_has_filters_for_product .p .ctcode .q)}}
                全部筛选
                {{else}}
                已选条件：
                <small style="font-size: 11pt">
                {{if not (eq .p 0)}}  制造商: {{range .providers}}{{.DisplayName}}{{end}} {{end}}
                {{if not (eq .ctcode "")}} &nbsp;分类:  {{range $i,$p := .pcts}}{{if notEq $i 0}}&nbsp;->{{end}}{{$p.Name}}{{end}} {{end}}
                {{if not (eq .q "")}} &nbsp;关键字: {{.q}} {{end}}
                {{end}}
                </small>
            </h2>
            <a class="box-link-expand" href="javascript:void(0);">收起筛选</a>

            <div class="box-prod-condition">
                <div class="prod-inner" {{if notEq .hide_filters ""}}style="display:none"{{end}}>
                    <div class="cond-item clearfix">制造商：
                        <span>
                            <a class="f_p" href="#"> {{if eq .p 0}} * <b>不限</b> {{else}} 不限 {{end}}</a>
                         </span>

                        <div class="lei-list">
                            {{range $i, $p:= .filterPs}}
                            <a class="f_p" data-id="{{.Id}}" href="#">
                                {{if eq $g.p .Id}}*<b>{{.DisplayName}}</b>
                                {{else}}
                                {{.DisplayName}}
                                {{end}}</a>
                            {{end}}
                            <a href="#" id="btn-more-ps">更多...</a>

                        </div>
                        <div id="more-ps" class="lei-list"></div>
                    </div>
                    <div class="cond-item clearfix">分类目录：
                        <span><a class="f_ct" href="#"> {{if eq .ctcode ""}} * <b>不限</b> {{else}} 不限 {{end}} </a></span>

                        <div class="lei-list">
                            {{range $i,$ct := .filterCts}}
                            {{if newline $i 6}}<br/>{{end}}
                            <a class="f_ct" data-code="{{.Code}}" href="#"> {{if eq $g.ctcode .Code}}* <b>{{.Name}}</b>
                                {{else}} {{.Name}} {{end}} </a>
                            {{end}}
                            <a href="#" id="btn-more-cs">更多...</a>

                        </div>
                        <div id="more-cs" class="lei-list"></div>
                    </div>
                    <div class="cond-item clearfix">查询关键字：
                        <input type="text" name="q" value="{{.q}}" style="width:360px;"> <button type="button" id="btn-search" class="button button-big button-big-red">查询</button>
                    </div>
                </div>
                <div class="box-footer clearfix">
                    <div class="choose-list"><!--您暂无选择筛选条件--> [ 共找到<em>{{.products.Total}}</em> 款产品]</div>
                    <div class="choose-tools"><a class="icons icons-reload" href="javascript:void(0)"
                                                 id="btn-reset-search">重新筛选<i></i></a></div>
                </div>
            </div>
        </div>
        <div class="pro-mod2 right-mod">
            <h2 class="title">全部</h2>
            <ul class="pro-infor-list cf">
                {{range .products.Data }}
                <li>
                    <p class="pro-img-a"><a href='{{url "Product.View" .Id}}' target="_blank"><img src='{{url "Product.Image" .Id}}.jpg'
                                                                                   style="width: 120px;height: 120px;"/></a>
                    </p>

                    <p class="pro-title"><a href='{{url "Product.View" .Id}}' target="_blank" title="{{.Name}}">{{truncStr .Name 9 ".."}}</a></p>

                    <p class="rmb">RMB&nbsp;{{.Price}}</p>

                    <p class="buy-btn"><a href='{{url "Product.View" .Id}}' target="_blank">立即购买</a></p>
                </li>

                {{else}}
                <div>
                    很抱歉，没有找到相关的产品
                    <a href='{{url "App.NewInquiry" .q}}' class="button button-big button-big-red">我要询价</a>
                    <br/>
                </div>
                {{end}}
            </ul>
            {{template "layouts/kte/w-pagebar.html" .}}
        </div>
        {{/*
        <div class="pro-mod2 right-mod">
            <h2 class="title">为您推荐</h2>
            <ul class="pro-infor-list cf">
                {{range .products.Data }}
                <li>
                    <p class="pro-img-a">
                        <a href='{{url "Product.View" .Id}}'>
                            <img src='{{url "Product.Image" .Id}}.jpg' style="width: 120px;height: 120px;"/>
                        </a>
                    </p>

                    <p class="pro-title"><a href='{{url "Product.View" .Id}}'>{{truncStr .Name 8 ".."}}</a></p>

                    <p class="rmb">RMB&nbsp;{{.Price}}</p>

                    <p class="buy-btn"><a href='{{url "Product.View" .Id}}'>立即购买</a></p>
                </li>


                {{end}}
            </ul>
        </div>
        */}}
    </div>
</div>

{{template "layouts/kte/footer.html" .}}
