{{set . "title" .p.Name}}
{{append . "moreScripts" "libs/raty/jquery.raty.js"}}
{{append . "moreScripts" "js/product/view.js"}}
{{template "layouts/kte/header.html" .}}
<script>
    var ProductId = '{{.p.Id}}';
    var ProductSdImagesUrl = '{{url "Product.SdImages"}}?id={{.p.Id}}';
    var ImageSdUrl = '{{url "Product.SdImage"}}';
    var MFilesUrl = '{{url "Product.MFiles"}}?id={{.p.Id}}';
    var MFileUrl = '{{url "Product.MFile"}}';
    var SpecsUrl = '{{url "Product.Specs"}}?id={{.p.Id}}';
    var PricesUrl = '{{url "Product.Prices"}}?id={{.p.Id}}';
    var CollectURL = '{{url "User.CollectProduct"}}';
    var ProductName='{{.p.DisplayName}}';
    var ProductCommentsURL = '{{url "Product.ProductComments"}}';
    page.set("id", ProductId).url(ProductCommentsURL);
</script>

<div class="content wrap-960">
<div class="site-crumbs clearfix">
    您所在的位置：>首页>产品中心>{{.p.DisplayName}}
</div>
<!--左边模块-->
<div class="left-pro">
    <!--热销产品排行-->
    <div class="hot-pro-mod pro-mod">
        {{template "layouts/kte/w-hot-products.html" .}}
    </div>
    <!--热销产品-->
    <div class="news-pro-mod pro-mod">
        {{template "layouts/kte/w-latest-products.html" .}}
    </div>
    <!--特价产品-->
    <div class="news-pro-mod pro-mod">
        {{template "layouts/kte/w-specialoffer-products.html" .}}
    </div>
</div>
<!--右边模块-->
<div class="right-pro">

<div class="box box-prod-baseinfo">
    <div class="prod-img-mod" id="images"></div>
    <script id="images_tpl"  type="text/ractive">
        <div class="prod-img">
            <a href="#nolink"><img src="[[current.url]]" style="width: 296px;height: 236px"/></a>
        </div>
        <div class="img-thumb">
            <a class="btn-prev" href="#nolink" on-click="prev"></a>

            <div class="img-thumb-wrapper" ></div>

               <ul class="thumb-list cf">
               [[#images:index]]
                  <li class="thumb-item">
                      <a class="[[active]]" href="#nolink"><img src="[[url]]" style="width: 50px;height: 50px" on-click="click:[[index]]"></a>
                  </li>
               [[/images]]
               </ul>

            <a class="btn-next" href="#nolink" on-click="next"></a>
        </div>
        <div class="consult-text">图片仅供参考，请参考产品描述</div>
    </script>

    <div class="prod-intro">
        <h2>{{.p.Name}}</h2>
        <ul class="prod-list cf">
            <li>
                <span class="l">型号：</span>

                <div class="prod-ms">{{.p.Model}}&nbsp;</div>
            </li>
            <li>
                <span class="l">状态：</span>

                <div class="prod-ms">{{if .p.Enabled}} 上架中 {{.p.EnabledAt|date}} {{else}}未上架{{end}}&nbsp;</div>
            </li>
            <li>
                <span class="l">货期：</span>

                <div class="prod-ms">{{.p.Delivery}}&nbsp;</div>
            </li>
            <li>
                <span class="l">制造商：</span>

                <div class="prod-ms">
                    <a href='{{url "Provider.View" .provider.Id}}'>
                        <img width="75" height="25" src='{{url "Provider.Image" .provider.Id}}.jpg'
                             title="{{.provider.Name}}">
                    </a>
                </div>
            </li>
            <li>
                <span class="l">批号：</span>

                <div class="prod-ms">{{.p.LotNumber}}&nbsp;</div>
            </li>
            <li>
                <span class="l">描述：</span>

                <div class="prod-ms" title="{{.p.Introduce}}">{{truncStr .p.Introduce 10 ".."}}&nbsp;</div>
            </li>

            <li>
                <span class="l">PDF：</span>

                <div class="prod-ms" id="files"></div>
                <script id="files_tpl" type='text/ractive'>
                [[#files: index]]
                   <a href="[[url]]" target="_blank">[[name]]</a>
                [[/files]]
                &nbsp;

                </script>
            </li>
            <li>
                <span class="l">库存：</span>

                <div class="prod-ms">
                    {{if eq .p.StockNumber 0}}
                    <font color="red">缺货</font>
                    {{else}}
                    {{.p.StockNumber}} {{.p.UnitName}}
                    {{end}}
                </div>
            </li>
            <li>
                <span class="l">起订数量：</span>

                <div class="prod-ms">
                    {{.p.MinNumberOfOrders}}
                    {{if gt .p.MinNumberOfOrders .p.StockNumber}}
                    <font color="red">库存不够</font>
                    {{end}}
                </div>
            </li>
            <li>
                <span class="l">价格：</span>

                <div class="prod-ms prod-price" id="prices"></div>

                <script id="prices_tpl" type='text/ractive'>
                 <table>
                   <tbody>
                    [[#prices: index]]
                        <tr>
                           <th><span class="amount">[[format(start_quantity,end_quantity)]]：</span></th>
                           <td><span class="price">￥ [[price]]</span></td>
                        </tr>
                    [[/prices]]
                    </tbody>
                 </table>&nbsp;
                </script>
            </li>
        </ul>
        <div class="prod-operate">
            <!--开发：立即购买弹窗以隐藏-->
            <div class="dialogAmountPrice" style="display:none;">
                <a class="dialog_close" href="#">X</a>

                <div class="wrapper-c">
                    <div>
                        <div class="form-item clearfix form-line">
                            <div class="item-title">价格：</div>
                            <table class="table-price">
                                <tbody>
                                <tr>
                                    <th><span class="amount">1 - 10：</span></th>
                                    <td><input type="hidden" value="10" name="discount[]"><input type="hidden"
                                                                                                 value="0.5850"
                                                                                                 name="price[]"><span
                                            class="price">￥0.59</span></td>
                                </tr>
                                <tr>
                                    <th><span class="amount">11 - 50：</span></th>
                                    <td><input type="hidden" value="50" name="discount[]"><input type="hidden"
                                                                                                 value="0.4950"
                                                                                                 name="price[]"><span
                                            class="price">￥0.50</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-item clearfix form-line">
                            <div class="item-title">库存：</div>
                            <div class="item-content">12000&nbsp;PCS</div>
                        </div>
                        <div class="form-opearte form-line">
                            <form method="post" action="/zh-cn/cart/add"><span>购买数量：</span><input type="text"
                                                                                                  value="1"
                                                                                                  name="quantity"
                                                                                                  class="textfield txt-quantity"
                                                                                                  id="txtAmount"><input
                                    type="hidden" value="3058860" name="prod_id">
                                <button path="/zh-cn/cart/add" type="submit" class="button button-vermilion"
                                        id="btnAddToCart">加入购物车
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{if .p.Enabled}}
            <button type="button" class="button button-big button-big-vermilion"
                    data-url='{{url "User.CollectProduct" .p.Id}}' data-confirm-text="确认收藏此此产品?"
                    data-alert="true"
                    data-logined="true">收藏该产品
            </button>
            {{end}}
            {{if ys_can_buy .p}}
            <button type="button" class="button button-big button-big-red" data-url='{{url "User.AddToCart" .p.Id}}'
                    data-logined="true"
                    data-alert="false"
                    data-after='window.location.href="{{url "User.AddToCartResult" .p.Id}}";'>立即购买
            </button>
            {{end}}
            {{if eq .p.Price 0.0}}
            <button type="button" class="button button-big button-big-red">我要询价</button>
            {{end}}
        </div>
    </div>
</div>
<div class="tab tab-prod-desc">
    <div class="tab-title">
        <ul class="clearfix">
            <li class="active"><a tabtext="prod-params" href="javascript:;">详细参数</a></li>
            <li><a tabtext="prod-desc" href="javascript:;">详细说明</a></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="box box-tab-prod-params box-prod-params">
            <div class="box-content">
                <div id="specs"></div>
                <script id="specs_tpl" type='text/ractive'>
                [[# empty(specs)  ]]
                  <div class="empty">暂无参数</div>
                [[/empty]]
                [[# specs.length > 0 ]]
                <table>
                <tbody>
                    [[#specs: index]]
                     <tr>
                       <th width="80">[[name]]:</th>
                       <td>[[value]]</td>
                     </tr>
                    [[/specs]]
               </tbody>
               </table>
               [[/noempty]]

                </script>
            </div>
        </div>
        <div style="display:none;" class="box box-tab-prod-desc box-prod-desc">
            <div class="box-content">
                {{if eq .detail ""}}
                <div class="empty">暂无说明</div>
                {{else}}
                {{raw .detail}}
                {{end}}
            </div>
        </div>
    </div>
</div>
<div class="Shopping-Process">
    <h2>本商城商品绝对正品保证，7天无条件退换货！</h2>

    <h3>支付方式</h3>

    <p><img src="/public/kte/images/img8.jpg"/><img src="/public/kte/images/img9.jpg"/></p>
</div>

<div class="BlockDiscuss">
</div>

<div class="pro-mod2 right-mod">
    <h2 class="title">最新优惠</h2>
    <ul class="pro-infor-list cf">
        {{range (ys_pref_products 10)}}
        <li>
            <p class="pro-img-a"><a href='{{url "Product.View" .Id}}'><img
                    src='{{url "Product.Image" .Id}}.jpg' style="width: 120px;height: 120px"/></a></p>

            <p class="pro-title"><a href='{{url "Product.View" .Id}}'>{{truncStr .Name 8 ".."}}</a></p>

            <p class="rmb">优惠价：&#65509; {{.Price}}</p>

            <p class="buy-btn"><a href='{{url "Product.View" .Id}}'>立即购买</a></p>
        </li>
        {{end}}
    </ul>
</div>
</div>
</div>

{{template "layouts/kte/footer.html" .}}
