{{set . "title" "验证邮箱"}}
{{append . "moreScripts" "js/passport/login.js"}}
{{template "layouts/kte/header.html" .}}
<div class="content wrap-960">
    <div class="site-crumbs clearfix">您所在的位置：>首页>注册账号 </div>
    <div class="right-mod brand-box">
        <h2 class="title">验证邮箱</h2>
        <div class="yanzheng">
            <h2>您的账号已经成功生成，但是您需要激活方可使用本站提供的商城购物/支付等功能。</h2>
            <p>我们已经发送一封激活邮件到您填写的邮箱，您可以查收邮件内的激活链接。 点击<a href="{{.emailProvider}}">{{.email}}</a>进入。</p>
            <p>如果您没有收到激活邮件，您可以可拨打<strong class="rc mr5">（86）400 068 6198</strong>与客服人员取得联系。</p>
        </div>

    </div>
</div>
{{template "layouts/kte/footer.html" .}}