{{set . "title" "重置密码"}}
{{template "layouts/kte/header.html" .}}
<div class="content wrap-960">
    <div class="site-crumbs clearfix">您所在的位置：>首页>重置密码 </div>
    <div class="right-mod brand-box">
        <h2 class="title">重置密码</h2>
        <div class="yanzheng">
            {{template "flash.html" .}}
            {{if .ok }}
            重置密码成功！ 你的新密码是: <font color="red"><strong>{{.newPassword}}</strong></font> &nbsp;(请记住此密码）。
            <br/>
            请<a href='{{url "Passport.login" .email}}'>点击登录</a>后，请在“会员中心->我的信息->安全设置”处修改您的密码。
            {{else}}
            重置失败， {{.result}}
            {{end}}
            <p>有任何疑问，您可以可拨打<strong class="rc mr5">（86）400 068 6198</strong>与客服人员取得联系。</p>
        </div>

    </div>
</div>
{{template "layouts/kte/footer.html" .}}
