{{set . "title" "忘记密码"}}
{{template "header.html" .}}

<div class="container">
    <h2>忘记密码</h2>
    <hr>
    <div class="row">
        {{template "flash.html" .}}
        <form id="forgotPasswordForm" action="/passport/forgot_password_apply" method="post">
            {{with $field := field "email" .}}
            <p class="{{$field.ErrorClass}}">
                <strong>邮箱:</strong>
                <input type="text" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required=""
                       placeholder="输入您注册时用的邮箱">
                *<span class="error">{{$field.Error}}</span>
            </p>
            {{end}}

            <p class="">
                <strong>验证码:</strong>
                <input type="text" size="20" name="validateCode" value="" required="">
                <input type="hidden" name="captchaId" value="{{.Captcha.CaptchaId}}">
                * <img id="captchaImg" src="/captcha/{{.Captcha.CaptchaId}}.png" alt="验证码"></p>
            <a href="#" onclick="freshCaptcha();">看不清？刷新一次</a>
            <span class="error"></span>
            </p>

            <p><input type="submit" value="提交">
                <a href="/passport/login">登录</a>
            </p>
        </form>
    </div>
</div>
<script>
    $("input[name=email]").focus();
</script>

{{template "footer.html" .}}
