{{set . "title" "忘记密码？"}}
{{template "layouts/kte/header.html" .}}
<div class="content wrap-960">
    <div class="site-crumbs clearfix">您所在的位置：>首页>忘记密码</div>
    <div class="right-mod brand-box">
        <h2 class="title">忘记密码</h2>
        <div class="register-box">
            {{template "flash.html" .}}
            <form id="forgotPasswordForm" action='{{url "Passport.ForgotPasswordApply"}}' method="post">
                <ul class="register-log cf">
                    <li><span>邮箱：</span>
                        {{with $field := field "email" .}}
                        <input type="email" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="" placeholder="输入您注册时用的邮箱">
                        *
                        {{end}}
                    </li>
                    <li><span>验证码：</span>
                        <input type="hidden" name="captchaId" value="{{.captchaId}}">
                        <input class="input115" type="text" size="20" name="validateCode" value="" required="">
                        <img id="captchaImg" class="captcha code" src="/captcha/{{.captchaId}}.png" alt="验证码">
                        <span class="c6 mr5">看不清？</span>
                        <a class="rc" href="javascript:freshCaptcha();">换一张</a></li>
                </ul>
                <button type="submit" class="button button-big button-big-red">提交</button>
            </form>
        </div>

    </div>
</div>
{{template "layouts/kte/footer.html" .}}

