{{set . "title" "登录"}}
{{append . "moreScripts" "js/passport/login.js"}}
{{template "layouts/kte/header.html" .}}
{{$g := .}}
<div class="content wrap-960">
<div class="site-crumbs clearfix">您所在的位置：>首页>登录</div>
<div class="right-mod brand-box">
<h2 class="title">登录</h2>

<div class="BlockDashed">
    <div class="DivFl">
        登录中如遇问题，可拨打<strong class="rc mr5">（86）{{ys_config "site.contact.sales_phone"}}</strong>与客服人员取得联系。
    </div>

    <div class="DivFr">
        <div class="mt5 mb5">您还可以使用以下合作帐号进行登陆。</div>
        <a href="https://oauth.live.com/authorize?client_id=0000000044087817&amp;scope=wl.signin wl.basic&amp;response_type=code&amp;redirect_uri=http://www.icgoo.net/xauth/get_user_info_msn/?next_url=/accounts/register/"><img
                border="0" alt="MSN登录" src="images/msn.png"></a>
        <a href="https://graph.qq.com/oauth2.0/authorize?response_type=code&amp;client_id=100239447&amp;redirect_uri=http://www.icgoo.net/xauth/get_user_info_qq/?next_url=/accounts/register/"><img
                border="0" alt="QQ登录"
                src="http://qzonestyle.gtimg.cn/qzone/vas/opensns/res/img/Connect_logo_7.png"></a>
    </div>
</div>
<div class="register-box">
{{template "flash.html" .}}
<form id="loginForm" action='{{url "Passport.Login"}}' method="post">
<ul class="register-log cf">
    <li><span>账号：</span>
        {{with $field := field "login" .}}
        <input type="email" size="20" name="{{$field.Name}}" value="{{emptyOr $field.Flash $g.login}}" required="" placeholder="账号或邮箱">
        *
        {{end}}
    </li>
    <li><span>密码：</span> {{with $field := field "password" .}}
        <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
        *
        {{end}}
    </li>
    <li><span>验证码：</span>
        <input type="hidden" name="captchaId" value="{{.captchaId}}">
        <input class="input115" type="text" size="20" name="validateCode" value="" required="">
        <img id="captchaImg" class="captcha code" src="/captcha/{{.captchaId}}.png" alt="验证码">
        <span class="c6 mr5">看不清？</span>
        <a class="rc" href="javascript:freshCaptcha();">换一张</a></li>
</ul>
<a class="log-btn2" href="javascript:void(0)">登录</a>
</form>
</div>
</div>
</div>
{{template "layouts/kte/footer.html" .}}