{{set . "title" "注册个人用户"}}
{{if eq .RunMode "dev"}}
{{append . "moreScripts" "libs/jquery-deserialize/dist/jquery.deserialize.min.js"}}
{{end}}
{{template "header.html" .}}

<div class="container">
    <h2>注册</h2>
    <hr>
    {{template "flash.html" .}}
    <form id="personRegForm" action='{{url "Passport.Reg" "person"}}' method="post">
        {{with $field := field "email" .}}
        <p class="{{$field.ErrorClass}}">
            <strong>邮箱:</strong>
            <input type="email" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
            * <span class="error">{{$field.Error}}</span>
        </p>
        {{end}}

        {{with $field := field "password" .}}
        <p class="{{$field.ErrorClass}}">
            <strong>密码:</strong>
            <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
            * (6位以上）<span class="error">{{$field.Error}}</span>
        </p>
        {{end}}

        {{with $field := field "confirmPassword" .}}
        <p class="{{$field.ErrorClass}}">
            <strong>确认密码:</strong>
            <input type="password" size="20" name="{{$field.Name}}" value="{{$field.Flash}}" required="">
            *<span class="error">{{$field.Error}}</span>
        </p>
        {{end}}

        <p class="">
            <strong>验证码:</strong>
            <input type="text" size="20" name="validateCode" value="" required="">
            <input type="hidden" name="captchaId" value="{{.captchaId}}">
            * <img id="captchaImg" src="/captcha/{{.captchaId}}.png" alt="验证码"></p>
        <a href="#" onclick="freshCaptcha();">看不清？刷新一次</a>
        <span class="error"></span>
        </p>

        <p><input type="submit" value="同意xxx，提交"></p>
    </form>
</div>

<script>
    $("input[name=email]").focus();
</script>
{{if eq .RunMode "dev"}}
<script>
    if (!$("input[name=email]").val()) {
        $('#personRegForm').deserialize(
                {"email": "live.tang@gmail.com",
                    "password": "computer",
                    "confirmPassword": "computer"}
        );
    }
</script>
{{end}}

{{template "footer.html" .}}
