{{set . "title" "管理"}}

{{append . "moreStyles" "media/css/jquery.gritter.css"}}

<!-- BEGIN PAGE LEVEL PLUGINS -->
{{append . "moreScripts" "js/admin/index.js"}}

{{template "layouts/admin/header.html" .}}

<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                主面板
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="/">主页</a>
                    <i class="icon-angle-right"></i>
                </li>
                <li><a href='{{url "Admin.Index"}}'>主面板</a></li>
                <li class="pull-right no-text-shadow">
                    <div id="dashboard-report-range"
                         class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet=""
                         data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <div id="dashboard">
        <!-- BEGIN DASHBOARD STATS -->
        <div class="row-fluid">
            {{if isAdmin .session}}
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                <div class="dashboard-stat blue">
                    <div class="visual">
                        <i class="icon-comments"></i>
                    </div>
                    <div class="details">
                        <div class="number">{{.userTotal}}</div>
                        <div class="desc">用户数</div>
                    </div>
                    <a class="more" href='{{url "Admin.Users"}}'>
                        点击进入 <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            {{end}}
            {{if isSellManager .session}}
            <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
                <div class="dashboard-stat purple">
                    <div class="visual">
                        <i class="icon-globe"></i>
                    </div>
                    <div class="details">
                        <div class="number">{{.products}}</div>
                        <div class="desc">上架产品</div>
                    </div>
                    <a class="more" href='{{url "admin.Products"}}'>
                        点击进入 <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                <div class="dashboard-stat green">
                    <div class="visual">
                        <i class="icon-shopping-cart"></i>
                    </div>
                    <div class="details">
                        <div class="number">{{.orderTotal}}</div>
                        <div class="desc">新的订单</div>
                    </div>
                    <a class="more" href='{{url "Admin.Orders"}}'>
                        点击进入 <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
                <div class="dashboard-stat yellow">
                    <div class="visual">
                        <i class="icon-bar-chart"></i>
                    </div>
                    <div class="details">
                        <div class="number">{{.in_unreplies}}</div>
                        <div class="desc">未回复询价</div>
                    </div>
                    <a class="more" href='{{url "Admin.Prices"}}'>
                        点击进入 <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                </div>
            </div>
            {{end}}
            <div class="row-fluid">
                <div class="portlet sale-summary">
                    <div class="portlet-title">
                        <div class="caption">提醒</div>
                        <div class="tools">
                            <a class="reload" href="javascript:reloadWindow();"></a>
                        </div>
                    </div>

                    <table class="table">
                        {{if isAdmin .session}}
                        <tr>
                            <td>会员提醒：</td>
                            <td> 当前有<a href='{{url "Admin.Users"}}'><span
                                    class="badge badge-success">{{.users}}</span></a>个激活会员，
                                有<a href='{{url "Admin.Products"}}'><span
                                        class="badge badge-warning">{{.uusers}}</span></a>个未激活会员
                            </td>
                        </tr>
                        {{end}}
                        {{if isSellManager .session}}
                        <tr>
                            <td>产品提醒：</td>
                            <td> 当前有<a href='{{url "Admin.Products"}}'><span
                                    class="badge badge-success">{{.products}}</span></a>个上架产品，
                                有<a href='{{url "Admin.Products"}}'><span
                                        class="badge badge-warning">{{.uproducts}}</span></a>个未上架产品，
                                有<a
                                        href='{{url "Admin.Products"}}'><span class="badge badge-warning">{{.stock_warning_products}}</span></a>个库存不足
                            </td>
                        </tr>
                        {{end}}
                        {{if isSellManager .session}}
                        <tr>
                            <td>订单提醒：</td>
                            <td> 当前有<a href='{{url "Admin.Orders"}}'><span
                                    class="badge badge-important">{{.submited_orders}}</span></a>个订单待付款， 有<a
                                    href='{{url "Admin.Orders"}}'><span
                                    class="badge badge-important">{{.payed_orders}}</span></a>个订单已付款
                                ， 有<a
                                        href='{{url "Admin.Orders"}}'><span
                                        class="badge badge-important">{{.ship_orders}}</span></a>个订单待确认发货
                                ， 有<a
                                        href='{{url "Admin.Orders"}}'><span
                                        class="badge badge-important">{{.recv_orders}}</span></a>个订单确认已收货
                            </td>
                        </tr>
                        {{end}}
                        {{if isSellManager .session}}
                        <tr>
                            <td>询价提醒：</td>
                            <td>当前有 <a href='{{url "Admin.Prices"}}'><span
                                    class="badge badge-success">{{.ins}}</span></a>条询价， <a
                                    href='{{url "Admin.Prices"}}'><span
                                    class="badge badge-warning">{{.in_unreplies}}</span></a>条未回复</p></td>
                        </tr>
                        {{end}}
                        {{if isSellManager .session}}
                        <tr>
                            <td>产品评论：</td>
                            <td>当前有 <a href='{{url "Admin.ProductComments"}}'><span
                                    class="badge badge-success">{{.pcomments}}</span></a>条产品评论， <a
                                    href='{{url "Admin.ProductComments"}}'><span
                                    class="badge badge-warning">{{.pcomments_unconfirms}}</span></a>个未回复</p></td>
                        </tr>
                        {{end}}
                        {{if isAdmin .session}}
                        <tr>
                            <td>新闻评论：</td>
                            <td>当前有 <a href='{{url "Admin.NewsComments"}}'><span
                                    class="badge badge-success">{{.ncomments}}</span></a>条新闻评论， <a
                                    href='{{url "News.NewsComments"}}'><span
                                    class="badge badge-warning">{{.ncomments_unconfirms}}</span></a>个未回复</p></td>
                        </tr>
                        {{end}}

                    </table>

                </div>
            </div>
        </div>
        <!-- END DASHBOARD STATS -->
        <div class="clearfix"></div>

        {{template "layouts/admin/footer.html" .}}
