{{set . "title" "管理"}}

{{append . "moreStyles" "media/css/jquery.gritter.css"}}
{{append . "moreStyles" "media/css/daterangepicker.css"}}
{{append . "moreStyles" "media/css/fullcalendar.css"}}
{{append . "moreStyles" "media/css/jqvmap.css" }}
{{append . "moreStyles" "media/css/jquery.easy-pie-chart.css" }}

<!-- BEGIN PAGE LEVEL PLUGINS -->
{{append . "moreScripts" "media/js/jquery.vmap.js"}}
{{append . "moreScripts" "media/js/jquery.vmap.russia.js" }}
{{append . "moreScripts" "media/js/jquery.vmap.world.js" }}
{{append . "moreScripts" "media/js/jquery.vmap.europe.js" }}
{{append . "moreScripts"  "media/js/jquery.vmap.germany.js" }}
{{append . "moreScripts"  "media/js/jquery.vmap.usa.js" }}
{{append . "moreScripts"  "media/js/jquery.vmap.sampledata.js"}}
{{append . "moreScripts"  "media/js/jquery.flot.js" }}
{{append . "moreScripts"  "media/js/jquery.flot.resize.js" }}
{{append . "moreScripts"  "media/js/jquery.pulsate.min.js" }}
{{append . "moreScripts"  "media/js/date.js" }}
{{append . "moreScripts"  "media/js/daterangepicker.js"}}
{{append . "moreScripts"  "media/js/jquery.gritter.js" }}
{{append . "moreScripts"  "media/js/fullcalendar.min.js"}}
{{append . "moreScripts"  "media/js/jquery.easy-pie-chart.js" }}
{{append . "moreScripts"  "media/js/jquery.sparkline.min.js" }}

{{append . "moreScripts" "js/admin/index.js"}}

{{template "layouts/admin/header.html" .}}

<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        {{template "layouts/admin/style.html" .}}
        <h3 class="page-title">
            主面板
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home"></i>
                <a href="">主页</a>
                <i class="icon-angle-right"></i>
            </li>
            <li><a href='{{url "Admin.Index"}}'>主面板</a></li>
            <li class="pull-right no-text-shadow">
                <div id="dashboard-report-range"
                     class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet=""
                     data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                    <i class="icon-calendar"></i>
                    <span></span>
                    <i class="icon-angle-down"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END PAGE HEADER-->

<div id="dashboard">
<!-- BEGIN DASHBOARD STATS -->
<div class="row-fluid">
    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
        <div class="dashboard-stat blue">
            <div class="visual">
                <i class="icon-comments"></i>
            </div>
            <div class="details">
                <div class="number">{{.userTotal}} </div>
                <div class="desc">用户数</div>
            </div>
            <a class="more" href='{{url "Admin.Users"}}'>
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
        <div class="dashboard-stat green">
            <div class="visual">
                <i class="icon-shopping-cart"></i>
            </div>
            <div class="details">
                <div class="number">{{.orderTotal}}</div>
                <div class="desc">新的订单</div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span6  fix-offset" data-desktop="span3">
        <div class="dashboard-stat purple">
            <div class="visual">
                <i class="icon-globe"></i>
            </div>
            <div class="details">
                <div class="number">+89%</div>
                <div class="desc">Brand Popularity</div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
    <div class="span3 responsive" data-tablet="span6" data-desktop="span3">
        <div class="dashboard-stat yellow">
            <div class="visual">
                <i class="icon-bar-chart"></i>
            </div>
            <div class="details">
                <div class="number">12,5M$</div>
                <div class="desc">Total Profit</div>
            </div>
            <a class="more" href="#">
                View more <i class="m-icon-swapright m-icon-white"></i>
            </a>
        </div>
    </div>
</div>

<!-- END DASHBOARD STATS -->
<div class="clearfix"></div>

{{template "layouts/admin/footer.html" .}}
