{{set . "title" "商品分类维护"}}

{{append . "moreStyles" "media/css/select2_metro.css"}}
{{append . "moreStyles" "media/css/DT_bootstrap.css"}}

{{append . "moreScripts" "js/admin/newCategory.js"}}
{{template "layouts/media/root_header.html" .}}

        <script>
            var categoriesDataUrl = '{{url "Category.CategoriesData"}}';
            var categoryDataUrl = '{{url "Category.CategoryData"}}';
        </script>

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid profile">
        <div class="span12">
            {{$g := .}}
            <h4>{{if $g.p.Id}}编辑{{else}}添加{{end}}商品分类</h4>
            <hr/>
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href='#tab_1' data-toggle="tab">基本信息</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        {{template "flash.html" .}}
                        <form id="daForm" action='{{url "admin.DoNewCategory"}}' method="post" class="form-horizontal">
                            <input type="hidden" name="p.Id" value="{{$g.p.Id}}">

                            {{if $g.p.Id}}
                            {{with $field := field "p.Code" .}}
                            <div class="control-group">
                                <label class="control-label">编码<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.Code}}"
                                           class="span6 m-wrap" required="" readonly>
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}
                            {{end}}

                            {{with $field := field "p.Name" .}}
                            <div class="control-group {{$field.ErrorClass}}">
                                <label class="control-label">名称<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.Name}}"
                                           class="span6 m-wrap" required="">
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}


                            {{with $field := field "p.ParentId" .}}
                            <div class="control-group">
                                <label class="control-label">上一级分类<span class="required">*</span></label>

                                <div class="controls">
                                    <input id="parent" type="hidden" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.ParentId}}"
                                           required="" class="bigdrop span6" >
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}

                            {{with $field := field "p.Description" .}}
                            <div class="control-group">
                                <label class="control-label">描述</label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.Description}}" class="span6 m-wrap">
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}
                            {{with $field := field "p.Tags" .}}
                            <div class="control-group">
                                <label class="control-label">推荐</label>

                                <div class="controls">
                                    <label class="checkbox">
                                        <div class="checkbox"><span class="checked"> {{checkboxx $field "推荐" $g.p.Tags}}</span></div>
                                        推荐 (用在产品中心默认分类过滤条件）
                                    </label>
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}

                            <div class="form-actions">
                                <button type="submit" class="btn blue">保存</button>
                            </div>
                        </form>
                    </div>
                </div>
                <a href="javascript:parent.$.fancybox.close();" class="btn gray">关闭窗口</a>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/media/base_footer.html" .}}
