{{set . "title" "产品维护"}}

{{append . "moreStyles" "media/css/select2_metro.css"}}
{{append . "moreStyles" "media/css/DT_bootstrap.css"}}

{{append . "moreScripts" "js/admin/newProduct.js"}}
{{template "layouts/media/root_header.html" .}}

<script>
    var providersDataUrl = '{{url "Provider.ProvidersData"}}';
    var providerDataUrl = '{{url "Provider.ProviderData"}}';
    var categoriesDataUrl = '{{url "Category.CategoriesData"}}';
    var categoryDataUrl = '{{url "Category.CategoryData"}}';
    var ProductSdImagesUrl = '{{url "Product.SdImages"}}?id={{.p.Id}}';
    var ImageSdUrl = '{{url "Product.SdImage"}}';
    var DeleteSdImageUrl = '{{url "Admin.DeleteSdImageUrl"}}';
</script>

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid profile">
        <div class="span12">
            {{$g := .}}
            <div class="row-fluid">
                <div class="span6">
                    <h4>{{if $g.p.Id}}编辑{{else}}添加{{end}}商品</h4>
                </div>
                <div class="span6">
                    <div class="pull-right">
                        {{if $g.p.Id}}<a href='{{url "Product.View" $g.p.Id}}' target="_blank" class="btn green">预览</a>{{end}}
                        <a href="javascript:parent.$.fancybox.close();" class="btn gray">关闭窗口</a>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href='#tab_1' data-toggle="tab">基本信息</a></li>
                    {{if $g.p.Id}}
                    <li class=""><a href='#tab_2' data-toggle="tab">产品图片</a></li>
                    <li class=""><a href='#tab_3' data-toggle="tab">产品资料</a></li>
                    <li class=""><a href='#tab_4' data-toggle="tab">产品参数</a></li>
                    <li class=""><a href='#tab_5' data-toggle="tab">产品详情</a></li>
                    <li class=""><a href='#tab_6' data-toggle="tab">定价规则</a></li>
                    <li class=""><a href='#tab_6' data-toggle="tab">库存管理</a></li>
                    {{end}}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        {{template "flash.html" .}}
                        {{template "Admin/_includes/newProductForm.html" .}}
                    </div>
                    <div class="tab-pane " id="tab_2">
                        <div class="container-fluid">
                            <div class="row-fluid">
                                <h4>商品示意图图片
                                    <small>上传图片后将生成100×100的缩略图</small>
                                </h4>
                                <div class="span8">
                                    <div id="images"></div>
                                    <script id="images_tpl" type='text/ractive'>
                                     图片数: [[images.length]]
                                     <br/>
                                     <div class="container-fluid">
                                      <div class="row-fluid">
                                     [[#images: index]]
                                     <div class="span3">
                                        <img src="[[url]]" style="width:100px;height:100px" on-click="selected" data-id="[[id]]">
                                        [[# sel == id]]
                                        <button data-id="[[id]]" on-click="delete">删除</button>
                                        [[/ seled]]
                                     </div>
                                     [[/images]]
                                     </div>
                                     </div>
                                    </script>
                                </div>
                                <div class="span4">
                                    <form id="sdImageForm" action='{{url "Admin.UploadProductSdImage"}}' method="post"
                                          class="form-horizontal" enctype="multipart/form-data">
                                        <input type="hidden" value="{{$g.p.Id}}" name="id">
                                        <input type="file" name="image" class="multi" maxlength="5"
                                               accept="png|jpg"/>
                                        <small>支持jpg,png格式</small>
                                        <button type="submit" class="btn blue">上传</button>
                                    </form>
                                </div>
                            </div>
                            <div class="row-fluid">
                                <h4>商品图片库图片
                                    <small>上传图片后将保持原比例的缩略图</small>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane " id="tab_3">
                        3
                    </div>
                    <div class="tab-pane " id="tab_4">
                        4
                    </div>
                    <div class="tab-pane " id="tab_5">
                        5
                    </div>
                    <div class="tab-pane " id="tab_6">
                        6
                    </div>
                    <div class="tab-pane " id="tab_7">
                        7
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/media/base_footer.html" .}}
