{{set . "title" "制造商维护"}}

{{append . "moreStyles" "media/css/select2_metro.css"}}
{{append . "moreStyles" "media/css/DT_bootstrap.css"}}

{{append . "moreScripts" "js/admin/newProvider.js"}}
{{template "layouts/media/root_header.html" .}}

<script>

</script>
{{$g := .}}
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid profile">
        <div class="span12">
            <div class="row-fluid">
                <div class="span6">
                    <h4>{{if $g.p.Id}}编辑{{else}}添加{{end}}制造商</h4>
                </div>
                <div class="span6">
                    <div class="pull-right">
                        {{if $g.p.Id}}<a href='{{url "Provider.View" $g.p.Id}}' target="_blank" class="btn green">预览</a>{{end}}
                        <a href="javascript:parent.$.fancybox.close();" class="btn gray">关闭窗口</a>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href='#tab_1' data-toggle="tab">基本信息</a></li>
                    {{if $g.p.Id}}
                    <li class=""><a href='#tab_2' data-toggle="tab">制造商详情</a></li>
                    {{end}}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        {{template "Admin/_includes/newProviderForm.html" .}}
                    </div>
                    <div class="tab-pane " id="tab_2">
                        制造商Logo：
                        <form id="updateImageForm" action='{{url "Admin.UploadProviderImage"}}' method="post"
                              class="form-horizontal" enctype="multipart/form-data">
                            <input type="hidden" name="id" value="{{$g.p.Id}}"/>

                            <div class="control-group">
                                <label class="control-label">Logo<span class="required">*</span></label>

                                <div class="controls">
                                    <a class="fancybox" rel="group"
                                       href='{{url "Provider.Image" $g.p.Id}}.jpg' title="Logo">
                                        <img class="plogo" src='{{url "Provider.Image" $g.p.Id}}.jpg'></a>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">上传<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="file" name="image" class="multi" maxlength="1"
                                           accept="png|jpg"/>
                                    <small>支持jpg,png格式</small>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn blue">上传</button>
                            </div>
                        </form>
                    </div>
                </div>
                <a href="javascript:parent.$.fancybox.close();" class="btn gray">关闭窗口</a>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/media/base_footer.html" .}}
