{{set . "title" "产品维护"}}

{{append . "moreStyles" "media/css/select2_metro.css"}}
{{append . "moreStyles" "media/css/DT_bootstrap.css"}}

{{append . "moreScripts" "js/admin/newProduct.js"}}
{{template "layouts/media/root_header.html" .}}

        <script>
            var providersDataUrl = '{{url "Provider.ProvidersData"}}';
            var providerDataUrl = '{{url "Provider.ProviderData"}}';
        </script>

<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid profile">
        <div class="span12">
            {{$g := .}}
            <h4>{{if $g.p.Id}}编辑{{else}}添加{{end}}商品</h4>
            <hr/>
            <div class="tabbable tabbable-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href='#tab_1' data-toggle="tab">基本信息</a></li>
                    {{if $g.p.Id}}
                    <li class=""><a href='#tab_2' data-toggle="tab">产品图片</a></li>
                    <li class=""><a href='#tab_3' data-toggle="tab">产品资料</a></li>
                    <li class=""><a href='#tab_4' data-toggle="tab">产品参数</a></li>
                    <li class=""><a href='#tab_5' data-toggle="tab">产品详情</a></li>
                    <li class=""><a href='#tab_6' data-toggle="tab">定价规则</a></li>
                    <li class=""><a href='#tab_6' data-toggle="tab">库存管理</a></li>
                    {{end}}
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                        {{template "flash.html" .}}
                        <form id="daForm" action='{{url "admin.DoNewProduct"}}' method="post" class="form-horizontal">
                            <input type="hidden" name="p.Id" value="{{$g.p.Id}}">

                            {{if $g.p.Id}}
                            {{with $field := field "p.Code" .}}
                            <div class="control-group">
                                <label class="control-label">编码<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.Code}}"
                                           class="span6 m-wrap" required="" readonly>
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}
                            {{end}}

                            {{with $field := field "p.Name" .}}
                            <div class="control-group {{$field.ErrorClass}}">
                                <label class="control-label">名称<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.Name}}"
                                           class="span6 m-wrap" required="">
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}

                            {{with $field := field "p.Model" .}}
                            <div class="control-group {{$field.ErrorClass}}">
                                <label class="control-label">型号<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.Model}}"
                                           class="span6 m-wrap" required="">
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}

                            {{with $field := field "p.UnitName" .}}
                            <div class="control-group">
                                <label class="control-label">商品计量单位<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.UnitName}}" class="span6 m-wrap"
                                           required="">
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}

                            {{with $field := field "p.StockNumber" .}}
                            <div class="control-group">
                                <label class="control-label">库存数量<span class="required">*</span></label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.StockNumber}}" class="span6 m-wrap"
                                           required="">
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}

                            {{with $field := field "p.ProviderId" .}}
                            <div class="control-group">
                                <label class="control-label">制造商/供应商<span class="required">*</span></label>

                                <div class="controls">
                                    <input id="provider" type="hidden" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.ProviderId}}"
                                           required="" class="bigdrop span6" >
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}

                            {{with $field := field "p.Introduce" .}}
                            <div class="control-group">
                                <label class="control-label">简介</label>

                                <div class="controls">
                                    <input type="text" size="100" name="{{$field.Name}}"
                                           value="{{emptyOr $field.Flash $g.p.Introduce}}" class="span6 m-wrap">
                                    <span for="{{$field.Name}}" class="help-inline">{{$field.Error}}</span>
                                </div>
                            </div>
                            {{end}}


                            <div class="form-actions">
                                <button type="submit" class="btn blue">保存商品</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane " id="tab_2">
                        2
                    </div>
                    <div class="tab-pane " id="tab_3">
                        3
                    </div>
                    <div class="tab-pane " id="tab_4">
                        4
                    </div>
                    <div class="tab-pane " id="tab_5">
                        5
                    </div>
                    <div class="tab-pane " id="tab_6">
                        6
                    </div>
                    <div class="tab-pane " id="tab_7">
                        7
                    </div>
                </div>
                <a href="javascript:parent.$.fancybox.close();" class="btn gray">关闭窗口</a>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
{{template "layouts/media/base_footer.html" .}}
