{{set . "title" "用户信息"}}

{{append . "moreStyles" "media/css/DT_bootstrap.css"}}

<!-- BEGIN PAGE LEVEL PLUGINS -->
{{append . "moreScripts" "js/user/pay_order.js"}}
{{append . "moreScripts" "js/user/order_items.js"}}

{{template "layouts/media/base_header.html" .}}

<script>
    var id = '{{.order.Id}}';
    var orderCode = '{{.order.Code}}';
    var orderItemsURL = '{{url "User.OrderItems"}}';
    var orderURL = '{{url "User.OrderData"}}';
    var orderProductsURL = '{{url "User.OrderProducts"}}';

    var orderLogsDataURL = '{{url "User.OrderLogsData"}}';
</script>
<!-- BEGIN BODY -->
<body style="background-color: #fff">
<div class="row-fluid">
    <div class="span12 responsive" data-tablet="span12 fix-offset">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey">
            <div class="portlet-title">
                <div class="caption"><i class="icon-user"></i>订单信息</div>
                <div class="tools">
                    <a href="javascript:;" class="reload" onclick="window.location.reload()"></a>
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                {{template "User/includes/_ViewOrder.html" .}}
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
    {{template "layouts/media/base_footer.html" .}}