{{set . "title" "用户管理"}}
{{template "header.html" .}}

<div class="container">
    <div class="row">
        <h1>用户管理</h1>

        {{template "flash.html" .}}

        <div>用户总数: {{.users_total}}</div>
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Login Name</th>
                <th>Email</th>
                <th>Enable</th>
                <th>Password</th>
                <th>ActivationCode</th>
                <th>LastSignAt</th>
            </tr>
            {{range .users}}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.LoginName}}</td>
                <td>{{.Email}}</td>
                <td>{{.Enabled}}</td>
                <td>{{.CryptedPassword}}</td>
                <td>{{.ActivationCode}}</td>
                <td>{{.LastSignAt | datetime}}</td>
                <td><a data-url="{{url "Admin.ResetUserPassword" .Id}}" class="btn">重置密码</a>
                    <a class="btn">激活/禁用</a></td>
            </tr>
            {{end}}
        </table>
    </div>
</div>

{{template "footer.html" .}}
