{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="hero-unit" style="background-color:#A9F16C">
    <div class="container">
        <div class="row">
            <div class="hero-text">
                <p>登录？{{logined .session}}
                    {{if logined .session}}
                    你好，{{.session.user}} <a href="/passport/logout">注销</a>
                    {{else}}
                    <a href="/passport/login">登录</a>
                    {{end}}

                    <a href="/passport/reg/person">注册</a>
                    |  <a href="/admin/users">管理</a>
                </p>

                <h1>It works! Version: {{.version}}</h1>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

{{template "footer.html" .}}
