{{set . "title" "客户服务"}}
{{template "layouts/kte/header.html" .}}

<div class="content wrap-960">
    <!--左边模块-->
    <div class="left-pro">
        <!--产品目录-->
        <div class="pro-trees-mod pro-mod">
            {{template "layouts/kte/w-cg.html" .}}
        </div>
        <!--品牌推荐-->
        <div class="brand-mod pro-mod">
            {{template "layouts/kte/w-ps.html" .}}
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">

        客户服务TODO
    </div>
</div>

{{template "layouts/kte/footer.html" .}}
