{{set . "title" "客户服务"}}
{{template "layouts/kte/header.html" .}}
{{$g := .}}
<div class="content wrap-960">
    <div class="site-crumbs clearfix">
        您所在的位置：>首页>客户服务
    </div>
    <!--左边模块-->
    <div class="left-pro">
        <!--热销产品排行-->
        <div class="hot-pro-mod pro-mod">
            {{template "layouts/kte/w-hot-products.html" .}}
        </div>
        <!--热销产品-->
        <div class="news-pro-mod pro-mod">
            {{template "layouts/kte/w-latest-products.html" .}}
        </div>
        <!--特价产品-->
        <div class="news-pro-mod pro-mod">
            {{template "layouts/kte/w-specialoffer-products.html" .}}
        </div>
    </div>
    <!--右边模块-->
    <div class="right-pro">
        <div class="pro-mod2 right-mod">
            <ul class="help-box cf">
                <li style="width:100%; border-bottom:1px dashed #999; padding-bottom:15px;"><span
                        class="red-14">客户服务</span>

                    <p class="title_p">如果您在帮助的主题中找不到您要解决的问题，请通过“在线客服”，或者致电400 660 6568， 我们将竭诚为您提供服务。</p></li>
                {{range (ys_service_categories)}}
                <li><span class="red-14">{{.Name}}</span>

                    <div class="list-a">
                        {{range $i,$n := (ys_news_by_category .Id)}}
                        <a href='{{url "News.View" $n.Id}}'>{{$n.Title}}</a>
                        {{end}}
                    </div>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>

{{template "layouts/kte/footer.html" .}}
