.page-boxed{
    background-color: #fff !important;
}

.header .navbar-inner {
    width: 100%;
    background: #efefef !important;
    border-bottom: 1px solid #c0c0c0;
}

.page-sidebar {
   /* background-color: #fff !important;*/
}
