<div class="confirm-content" id="items"></div>
<script id="items_tpl" type="text/ractive">
    <table class="table table-order-details">
        <colgroup>
            <col>
            <col style="width:130px;">
            <col style="width:130px;">
            <col style="width:130px;">
            <col style="width:150px;">
        </colgroup>
        <thead>
        <tr>
            <th style="text-align:left;">产品信息</th>
            <th>单价 (￥)</th>
            <th>购入数量</th>
            <th>交货日期</th>
            <th>小计 (￥)</th>
        </tr>
        </thead>
        <tbody>
        [[#items: index]]
        <tr>
            <td>
                <div class="prod-info clearfix">
                    <div class="prod-inner3">
                        <div class="prod-img3"><img width="70" height="50" alt="" src='[[purl]]'></div>
                    </div>
                    <div class="prod-intro3">
                        <div class="prod-model">[[model]]</div>
                        <div class="brand-name">[[name]]</div>
                    </div>
                </div>
            </td>
            <td>
                <div class="prod-unit-price">[[price]]</div>
            </td>
            <td>
                <div class="prod-count">[[quantity]]</div>
            </td>
            <td>
                <div class="delivery-date">[[delivery]]</div>
            </td>
            <td>
                <div class="prod-subtotal-price">[[ fixed(quantity * price)]]</div>
            </td>
        </tr>
        [[/items]]
        </tbody>
    </table>
</script>

