<h4>订单基本信息：</h4>

<div>订单号: {{.order.Code}} 下单时间： {{.order.SubmitAt|datetime}}</div>
<div>订单状态: {{.order.StatusDesc}}
    <!-- {{if .order.NeedPay}}<a href='{{url "User.PayOrder" .order.Code}}'>我要支付</a> {{end}} -->
</div>

<div>
    支付金额: <font color="red"> ¥ {{.order.Amount}} </font>
</div>

<div>下单人/单位: {{.orderBy}}</div>

<h4>支付方式：</h4>

<div id="das" data-remote='{{url "User.OrderPaymentForView" .order}}'></div>

<h4>收货地址：</h4>

<div id="das" data-remote='{{url "User.OrderDaForView" .order}}'></div>

<h4>发票信息：</h4>

<div id="ins" data-remote='{{url "User.OrderInForView" .order}}'></div>

<h4>配送方式：</h4>

<div id="shippings" data-remote='{{url "User.OrderShippingForView" .order}}'></div>

<h4>产品信息确认：</h4>
{{template "User/includes/_OrderItems.html" .}}

<form id="commentForm" action='{{url "User.PayOrderByUserComment"}}' method="post">
    <input type="hidden" name="code" value="{{.order.Code}}">
    留言: <textarea name="comment"></textarea>

    <button>我要留言</button>
</form>

<hr>
<h4>订单的日志:</h4>

<div id="logs"></div>
<script id="logs_tpl" type="text/ractive">
                <table>
                [[#logs: index]]
                <tr><td>[[message]] - [[format(created_at)]]</td></tr>
                [[/logs]]
                </table>

</script>